.aim-heading {
  font-size: 36px;
  font-weight: 500;
  font-family: "roboto", sans-serif;
  color: #343846;
  list-style: 1.5;
  font-style: normal;
}

.aim-text {
  font-size: 14px;
  font-family: "roboto", sans-serif;
  color: #343846;
  list-style: 18px;
  font-weight: 300;
  font-style: normal;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px 20px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5555;
  transition: all 0.2s linear;
}

.slick-prev {
  left: -70px;
}

.slick-next {
  right: -70px;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: rgba(248, 185, 185, 0.797);
  border: none;
  outline: none;
  transition: all 0.2s linear;
  transform: translateY(50px);
}

.slick-dots .slick-active button {
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
  padding: 0;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  color: var(--text-1);
}

li {
  list-style-type: none;
}

.Aimacademy {
  max-width: 1534px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.Aimacademy .input {
  display: none;
}
.Aimacademy .input:checked ~ .menu-mobile {
  transform: translateY(0%);
  opacity: 1;
}
.Aimacademy .input:checked ~ .overlay {
  display: block;
}
.Aimacademy .overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: none;
  animation: fadeIn 0.5s linear;
}
.Aimacademy .menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 70%;
  max-width: 1520px;
  background: #ffffff;
  overflow: scroll;
  transform: translateX(-100%);
  z-index: 10000;
  transition: transform linear 0.5s, opacity linear 0.5s;
  opacity: 0;
}
.Aimacademy .menu-mobile .header-mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Aimacademy .menu-mobile .header-mobile-top img {
  width: 30%;
  margin: 10px 10px 0px 24px;
}
.Aimacademy .menu-mobile .menu-close {
  font-size: 34px;
  color: #F4023E;
  margin-right: 24px;
  margin-top: 10px;
}
.Aimacademy .menu-mobile .menu-mobiles {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.Aimacademy .menu-mobile .menu-mobiles .fa-angle-right {
  font-size: 24px;
  color: #F4023E;
  font-weight: 600;
  margin-right: 34px;
}
.Aimacademy .menu-mobile .menu-mobiles li.showMenu i.fa-angle-right {
  transform: rotate(90deg);
}
.Aimacademy .menu-mobile .menu-mobiles li.showMenu .dropdown-menu {
  display: block;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile {
  padding: 24px 0px;
  border-bottom: 1px solid;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu {
  display: none;
  margin-top: 24px;
  margin-bottom: -24px;
  background: #ffffff;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item {
  padding: 20px 0px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .dropdown-menu-link {
  font-size: 24px;
  color: #343846;
  font-weight: 400;
  margin-left: 24px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list-header {
  padding: 0px 24px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 187px;
  padding: 7px;
  margin-left: 24px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-image {
  width: 100%;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-heading {
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #343846;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-content img {
  margin-right: 5px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-content .item-content {
  color: white;
  font-size: 8px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 1px 7px;
  display: block;
  width: 64%;
  display: flex;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-content .item-contents {
  color: white;
  font-size: 8px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 1px 7px;
  display: block;
  width: 52%;
  display: flex;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon {
  padding: 5px 0;
  margin-top: -15px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon-calendar, .Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon-user, .Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon-star {
  grid-gap: 0 5px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon .fa-star {
  color: #E41E66;
  font-size: 7px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon-star {
  align-items: center;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon .new-lesson-item-icon-time, .Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon .new-lesson-item-icon-users {
  font-size: 8px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon .new-lesson-item-icon-calendar img, .Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon .new-lesson-item-icon-user img {
  width: 7px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item-icon .stars {
  color: pink;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item .new-lesson-item-text {
  font-size: 10px;
  margin-top: 1px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item .menu-link-list-item .menu-link-list .new-lesson-item .price {
  font-size: 16px;
  font-weight: 500;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu li.showMenu .menu-link-list-item {
  display: block;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .dropdown-menu .dropdown-menu-item:hover {
  background: #F0F2F5;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .menu-link-mobile {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #343846;
  margin-left: 24px;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile .menu-link-mobile:hover {
  color: blue;
}
.Aimacademy .menu-mobile .menu-mobiles .menu-item-mobile:hover {
  background: #F0F2F5;
}
.Aimacademy .menu-mobile.close .menu-mobiles {
  overflow: visible;
}
.Aimacademy .menu-mobile .menu-mobiles::-webkit-scrollbar {
  display: none;
}
.Aimacademy .menu-mobile .menu-mobiles li {
  position: relative;
  transition: all 0.4s ease;
}
.Aimacademy .header {
  width: 100%;
  height: 658px;
  background: url(/images/background-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 658px;
  position: relative;
}
.Aimacademy .header-top {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0px 4px 15px rgba(52, 56, 70, 0.2);
  border-radius: 10px;
  background: white;
  padding: 15px 100px;
  z-index: 100000;
}
.Aimacademy .header-top .icon-menu {
  display: none;
}
.Aimacademy .header-top .menu {
  width: 50%;
}
.Aimacademy .header-top .menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.Aimacademy .header-top .menu-item .menu-link {
  color: #343846;
}
.Aimacademy .header-top .menu-item .dropdown-menu {
  background: white;
  box-shadow: 0px 4px 15px rgba(52, 56, 70, 0.2);
  border-radius: 10px;
  padding: 20px 0;
  width: 210px;
  position: absolute;
  visibility: hidden;
  transition: ease 0.3s all 0.2s;
  top: 120px;
  z-index: 111111;
}
.Aimacademy .header-top .menu-item .dropdown-menu-item {
  padding: 7px 0;
}
.Aimacademy .header-top .menu-item .dropdown-menu-item:hover {
  background: #F0F2F5;
  transition: 0.5s;
}
.Aimacademy .header-top .menu-item .dropdown-menu-link {
  color: #343846;
  margin-left: 15px;
}
.Aimacademy .header-top .menu .item-menu:hover .dropdown-menu {
  visibility: visible;
  top: 100px;
}
.Aimacademy .header-top .menu-input {
  width: 240px;
  background: #EFEFEF;
  border-radius: 5px;
}
.Aimacademy .header-top .menu-input input {
  border-radius: 10px;
  background: #EFEFEF;
  height: 34px;
  width: 80%;
  outline: none;
  border: none;
  padding: 0px 10px;
}
.Aimacademy .header-top .menu-input .fa-search {
  font-size: 16px;
  color: #343846;
}
.Aimacademy .header-top .menu-btn {
  width: 300px;
}
.Aimacademy .header-top .menu-btn-signin, .Aimacademy .header-top .menu-btn-login {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.Aimacademy .header-top .menu-btn-signin {
  color: white;
  padding: 12px 16px;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border-radius: 10px;
}
.Aimacademy .header-top .menu-btn-signin:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
}
.Aimacademy .header-top .menu-btn-login {
  color: #343846;
  padding: 12px 25px;
  border-radius: 10px;
  border: 1px solid #343846;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}
.Aimacademy .header-top .menu-btn-login:hover {
  color: white !important;
  border: none;
}
.Aimacademy .header-top .menu-btn-login::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
}
.Aimacademy .header-top .menu-btn-login:hover::after, .Aimacademy .header-top .menu-btn-login:hover::after {
  opacity: 1;
  width: 120%;
}
.Aimacademy .header-logo {
  width: 163px;
  height: 59px;
}
.Aimacademy .header-main {
  width: 80%;
  margin: 0px auto;
  display: flex;
}
.Aimacademy .header-main-content {
  width: 60%;
  height: auto;
}
.Aimacademy .header-main-content .header-heading {
  align-items: center;
  margin-top: 120px;
  text-align: center;
}
.Aimacademy .header-main-img {
  margin-top: 45px;
  width: 450px;
}
.Aimacademy .header-main-img img {
  width: 100%;
}
.Aimacademy .header-main .menu-main-btn {
  display: flex;
  grid-gap: 0px 15px;
  margin: 0px auto;
  width: 381px;
}
.Aimacademy .header-main .menu-main-btn .menu-btn-signin {
  color: white;
  font-size: 18px;
  padding: 10px 40px;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border-radius: 10px;
  font-weight: 600;
}
.Aimacademy .header-main .menu-main-btn .menu-btn-signin:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
}
.Aimacademy .header-main .menu-main-btn .menu-btn-enterprise {
  color: #F4023E;
  font-size: 18px;
  padding: 10px 35px;
  border: 1px solid #F4023E;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}
.Aimacademy .header-main .menu-main-btn .menu-btn-enterprise:hover {
  color: white !important;
  border: none;
}
.Aimacademy .header-main .menu-main-btn .menu-btn-enterprise::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
}
.Aimacademy .header-main .menu-main-btn .menu-btn-enterprise:hover::after, .Aimacademy .header-main .menu-main-btn .menu-btn-enterprise:hover::after {
  opacity: 1;
  width: 120%;
}
.Aimacademy .header-heading {
  font-size: 50px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", sans-serif;
}
.Aimacademy .header-heading-folow {
  color: #E41E66;
  display: block;
  font-weight: 700;
}
.Aimacademy .header-heading-new {
  color: #F4023E;
  display: block;
  font-weight: 700;
}

.new-lesson {
  margin-top: 44px;
  margin: 0 auto;
}
.new-lesson .new-lesson-header {
  width: 69%;
  margin: 0 auto;
}
.new-lesson .new-lesson-header-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 56px;
  color: #343846;
}
.new-lesson .slick-initialized .slick-slide {
  margin: 0 10px;
}
.new-lesson .new-lesson-slide-item {
  width: 69%;
  margin: 0 auto;
  background: none;
}
.new-lesson .winning {
  margin-bottom: 48px;
}
.new-lesson .btn-see-more {
  display: flex;
  align-items: center;
}
.new-lesson .btn-see-more .see-more {
  color: #F4023E;
  font-size: 18px;
  font-weight: 500;
}
.new-lesson .btn-see-more .fa-angle-right {
  font-size: 18px;
  color: #F4023E;
  font-weight: 500;
  margin-left: 10px;
}
.new-lesson .new-lesson-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 316px;
  padding: 7px;
}
.new-lesson .new-lesson-item-image {
  width: 100%;
}
.new-lesson .new-lesson-item-heading {
  font-size: 24px;
  display: block;
  font-weight: 500;
  color: #343846;
}
.new-lesson .new-lesson-item-content img {
  margin-right: 5px;
}
.new-lesson .new-lesson-item-content .item-content {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 7px;
  display: block;
  width: 54%;
  display: flex;
}
.new-lesson .new-lesson-item-content .item-contents {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 7px;
  display: block;
  width: 42%;
  display: flex;
}
.new-lesson .new-lesson-item-icon {
  padding: 5px 0;
  margin-top: -15px;
}
.new-lesson .new-lesson-item-icon-calendar, .new-lesson .new-lesson-item-icon-user, .new-lesson .new-lesson-item-icon-star {
  grid-gap: 0 5px;
}
.new-lesson .new-lesson-item-icon .fa-star {
  color: #E41E66;
}
.new-lesson .new-lesson-item-icon-star {
  align-items: center;
}
.new-lesson .new-lesson-item-icon .stars {
  color: pink;
}
.new-lesson .new-lesson-item .btn-cart {
  border: 1px solid #F4023E;
  padding: 7px 13px;
  border-radius: 7px;
  display: flex;
  width: 154px;
  box-sizing: border-box;
  color: #F4023E;
  font-weight: 500;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}
.new-lesson .new-lesson-item .btn-cart img {
  margin-right: 5px;
}
.new-lesson .new-lesson-item .btn-cart:hover {
  color: white !important;
}
.new-lesson .new-lesson-item .btn-cart::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
}
.new-lesson .new-lesson-item .btn-cart:hover::after, .new-lesson .new-lesson-item .btn-cart:hover::after {
  opacity: 1;
  width: 120%;
}
.new-lesson .new-lesson-item .byding-btn {
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border: 1px solid #F9003B;
  box-sizing: border-box;
  border-radius: 7px;
  color: white;
  font-weight: 500;
  padding: 7px 40px;
  margin-top: 10px;
}
.new-lesson .new-lesson-item .byding-btn:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
  border: none;
}
.new-lesson .new-lesson-item .price {
  font-size: 20px;
  font-weight: 500;
}

.aim-heading {
  font-size: 36px;
  font-weight: 500;
  font-family: "roboto", sans-serif;
  color: #343846;
  list-style: 1.5;
  font-style: normal;
}

.aim-text {
  font-size: 14px;
  font-family: "roboto", sans-serif;
  color: #343846;
  list-style: 18px;
  font-weight: 300;
  font-style: normal;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px 20px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5555;
  transition: all 0.2s linear;
}

.slick-prev {
  left: -70px;
}

.slick-next {
  right: -70px;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}

.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: rgba(248, 185, 185, 0.797);
  border: none;
  outline: none;
  transition: all 0.2s linear;
  transform: translateY(50px);
}

.slick-dots .slick-active button {
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
}

.lessons-watched {
  margin: 0 auto;
}
.lessons-watched .lessons-watched-header {
  width: 69%;
  margin: 0 auto;
}
.lessons-watched .lessons-watched-header-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 56px;
  color: #343846;
}
.lessons-watched .slick-initialized .slick-slide {
  margin: 0 10px;
}
.lessons-watched .lessons-watched-slide-item {
  width: 69%;
  margin: 0 auto;
  background: none;
}
.lessons-watched .btn-see-more {
  display: flex;
  align-items: center;
  text-align: right;
}
.lessons-watched .btn-see-more .see-more {
  color: #F4023E;
  font-size: 18px;
  font-weight: 500;
}
.lessons-watched .btn-see-more .fa-angle-right {
  font-size: 18px;
  color: #F4023E;
  font-weight: 500;
  margin-left: 10px;
}
.lessons-watched .btn-see-mores {
  display: flex;
  align-items: center;
  text-align: right;
}
.lessons-watched .btn-see-mores .see-more {
  color: #F4023E;
  font-size: 18px;
  font-weight: 500;
}
.lessons-watched .btn-see-mores .fa-angle-right {
  font-size: 18px;
  color: #F4023E;
  font-weight: 500;
  margin-left: 10px;
}
.lessons-watched .lessons-watched-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 316px;
  padding: 7px;
}
.lessons-watched .lessons-watched-item-image {
  width: 100%;
}
.lessons-watched .lessons-watched-item-heading {
  font-size: 24px;
  display: block;
  font-weight: 500;
  color: #343846;
}
.lessons-watched .lessons-watched-item-content img {
  margin-right: 5px;
}
.lessons-watched .lessons-watched-item-content .item-content {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 7px;
  display: flex;
  width: 54%;
}
.lessons-watched .lessons-watched-item-content .item-contents {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 7px;
  display: flex;
  width: 42%;
}
.lessons-watched .lessons-watched-item-icon {
  padding: 5px 0;
  margin-top: -15px;
}
.lessons-watched .lessons-watched-item-icon-calendar, .lessons-watched .lessons-watched-item-icon-user, .lessons-watched .lessons-watched-item-icon-star {
  grid-gap: 0 5px;
}
.lessons-watched .lessons-watched-item-icon .fa-star {
  color: #E41E66;
}
.lessons-watched .lessons-watched-item-icon .stars {
  color: pink;
}
.lessons-watched .lessons-watched-item .btn-cart {
  border: 1px solid #F4023E;
  padding: 7px 13px;
  border-radius: 7px;
  display: flex;
  width: 154px;
  box-sizing: border-box;
  color: #F4023E;
  font-weight: 500;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}
.lessons-watched .lessons-watched-item .btn-cart img {
  margin-right: 5px;
}
.lessons-watched .lessons-watched-item .btn-cart:hover {
  color: white !important;
}
.lessons-watched .lessons-watched-item .btn-cart::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
}
.lessons-watched .lessons-watched-item .btn-cart:hover::after, .lessons-watched .lessons-watched-item .btn-cart:hover::after {
  opacity: 1;
  width: 120%;
}
.lessons-watched .lessons-watched-item .byding-btn {
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border: 1px solid #F9003B;
  box-sizing: border-box;
  border-radius: 7px;
  color: white;
  font-weight: 500;
  padding: 7px 40px;
  margin-top: 10px;
}
.lessons-watched .lessons-watched-item .byding-btn:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
  border: none;
}
.lessons-watched .lessons-watched-item .price {
  font-size: 20px;
  font-weight: 500;
}

.items-product {
  margin: 30px auto;
}
.items-product .items-products {
  width: 69%;
  margin: 0px auto;
}
.items-product .fa-angle-left {
  margin-right: 10px;
  padding: 4px 8px;
  background-color: #343846;
  border-radius: 55%;
  color: white;
}
.items-product .fa-angle-right {
  margin-left: 10px;
  padding: 4px 8px;
  background-color: #343846;
  border-radius: 55%;
  color: white;
}
.items-product .item-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #343846;
}
.items-product .skill {
  width: 69%;
  background: rgba(249, 0, 59, 0.2);
  border-radius: 5px;
  margin: 0px auto;
}
.items-product .skill-pink {
  width: 13%;
  height: 7px;
  background-color: #E41E66;
  border-radius: 5px;
}

.advantages {
  width: 100%;
  height: auto;
  margin-top: 40px;
  background: url(/images/image-12.png);
  padding-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1534px 580px;
}
.advantages-heading {
  font-size: 34px;
  font-weight: 500;
  font-family: "roboto", sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.advantages-item {
  width: 932px;
  border-radius: 10px;
  margin: 0px auto;
}
.advantages-item-content {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0px auto;
  text-align: center;
  align-items: center;
  padding: 40px 20px;
}
.advantages-item-icon {
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  height: 60px;
  width: 60px;
  margin: 0px auto;
  border-radius: 100%;
  align-items: center;
}
.advantages-item-icon img {
  align-items: center;
  text-align: center;
  margin-top: 17px;
}
.advantages-item-heading {
  font-weight: 600;
  color: #E32068;
  font-size: 19px;
}

.route {
  width: 100%;
  background: #5D606B;
  margin: 24px 0px 60px 0px;
}
.route-item {
  width: 1152px;
  margin: 0px auto;
}
.route-item-image {
  margin-right: 40px;
}
.route-item-image img {
  width: 600px;
  top: 70px;
  position: relative;
}
.route-heading {
  font-size: 38px;
  font-weight: bold;
  color: #343846;
}
.route-desc {
  color: #343846;
  font-size: 18px;
}
.route .btn-route {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 12px 16px;
  display: block;
  width: 140px;
  text-align: center;
}
.route .btn-route:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
}

.accumulated-points {
  width: 100%;
  background: #F5F5F5;
  margin: 24px 0px 60px 0px;
}
.accumulated-points-item {
  width: 1152px;
  margin: 0px auto;
}
.accumulated-points-item-content {
  margin-right: 40px;
}
.accumulated-points-item-image img {
  width: 650px;
}
.accumulated-points-heading {
  font-size: 38px;
  font-weight: bold;
  color: #343846;
}
.accumulated-points-desc {
  color: #343846;
  font-size: 18px;
}
.accumulated-points .btn-accumulated-points {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 12px 16px;
  display: block;
  width: 140px;
  text-align: center;
}
.accumulated-points .btn-accumulated-points:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
}

.enterprise {
  width: 100%;
  margin: 24px 0px 60px 0px;
}
.enterprise-item {
  width: 1152px;
  margin: 0px auto;
}
.enterprise-item-image {
  margin-right: 100px;
  width: 130%;
}
.enterprise-item-image img {
  width: 100%;
}
.enterprise-heading {
  font-size: 38px;
  font-weight: bold;
  color: #343846;
}
.enterprise-desc {
  color: #343846;
  font-size: 18px;
}
.enterprise .btn-enterprise {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 12px 16px;
  display: block;
  width: 140px;
  text-align: center;
}
.enterprise .btn-enterprise:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
}

.member {
  margin: 0px auto;
  margin-bottom: 60px;
}
.member-list {
  width: 1152px;
  margin: 0px auto;
  padding: 30px 0px;
  box-shadow: 0px 4px 20px rgba(52, 56, 70, 0.2);
  border-radius: 20px;
}
.member-icon {
  padding: 7px 11px;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border-radius: 20px;
}
.member-information {
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 34px auto;
}
.member-information-item-image {
  width: 40%;
  padding: 0px 45px;
}
.member-information-item-image img {
  width: 100%;
}
.member-information-desc {
  line-height: 1.5;
  color: #343846;
}
.member-information-heading {
  font-size: 24px;
  font-weight: 500;
  color: #343846;
}
.member-information-content {
  width: 58%;
}
.member-text {
  font-weight: 500;
  font-size: 18px;
  color: #F4023E;
}

.customers-partners {
  background: #F5F5F5;
  padding: 20px 0px 40px 0px;
}
.customers-partners .customers-partner {
  width: 1032px;
  margin: 0px auto;
}
.customers-partners .customers-partner .partner img {
  width: 200px;
}
.customers-partners .customers-partner .partners img {
  width: 160px;
}
.customers-partners .customers-partner-info {
  width: 892px;
  margin: 0px auto;
}
.customers-partners .customers-partner-info-desc {
  font-size: 18px;
  font-weight: 500;
  color: #343846;
  text-align: center;
}
.customers-partners-heading {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  color: #343846;
}
.customers-partners .tbn-partner {
  text-align: center;
  margin-top: 20px;
}

.registration {
  width: 1032px;
  margin: 70px auto;
}
.registration-image {
  margin-left: 24px;
}
.registration-image img {
  width: 550px;
}
.registration-heading {
  font-size: 38px;
  font-weight: bold;
  color: #343846;
}
.registration .btn-registration {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 12px 16px;
  display: block;
  width: 140px;
  text-align: center;
}
.registration .btn-registration:hover {
  background: #F0F2F5;
  color: #343846;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
}
.registration input {
  border-radius: 5px;
  background: #EFEFEF;
  height: 34px;
  width: 93%;
  outline: none;
  border: none;
  padding: 5px 15px;
  margin-bottom: 10px;
  color: #5D606B;
}
.registration select {
  border-radius: 5px;
  background: #EFEFEF;
  height: 34px;
  width: 99.5%;
  outline: none;
  border: none;
  padding: 10px 10px;
  margin-bottom: 10px;
  height: 45px;
  color: #5D606B;
}

.policy {
  background: #F5F5F5;
  padding: 20px 0px 20px 0px;
}
.policy .policys {
  width: 1032px;
  margin: 0px auto;
}
.policy .policys-heading {
  font-size: 28px;
  font-weight: 500;
  color: #343846;
  text-align: left;
  color: #343846;
}
.policy .policys-text {
  text-align: left;
  margin-top: 20px;
  color: #343846;
}

.footer {
  width: 100%;
  background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
}
.footer hr {
  width: 75%;
}
.footer-bottom {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
.footer-information {
  width: 1132px;
  margin: 0px auto;
  display: flex;
}
.footer-information .logo-footer {
  margin-top: 40px;
}
.footer-information-establish {
  width: 65%;
  margin-right: 20px;
}
.footer-information-establish-desc {
  font-size: 18px;
  color: white;
}
.footer-information-item {
  width: 30%;
}
.footer-information-item-desc {
  padding-bottom: 10px;
}
.footer-information-item-desc a {
  color: white;
}
.footer-information-item-desc a:hover {
  text-shadow: 2px 2px 24px #fff;
}
.footer-information-link {
  width: 27%;
  margin-right: 20px;
}
.footer-information-item, .footer-information-link {
  margin-top: 98px;
}
.footer-information-contacts {
  margin-top: 38px;
}
.footer-information-contacts-heading {
  font-weight: 500;
  font-size: 22px;
  color: white;
}
.footer-information-contacts .content {
  margin-bottom: 10px;
  color: white;
}
.footer-information-contacts a {
  margin-right: 10px;
}

@media (max-width: 1225px) {
  .menu-item {
    display: none;
  }
}
/* Mobile: width < 740px */
@media only screen and (max-width: 46.11875em) {
  .Aimacademy .header {
    background-position: center;
    width: 100%;
    height: 378px;
  }
  .Aimacademy .header-top {
    padding: 0px 15px;
    width: 90%;
  }
  .Aimacademy .header-top .menu {
    width: 56%;
  }
  .Aimacademy .header-top .header-logo {
    width: 37px;
    height: 28px;
    margin-right: 22px;
  }
  .Aimacademy .header-top .menu-input {
    width: 40%;
  }
  .Aimacademy .header-top .menu-input input {
    border-radius: 10px;
    background: #EFEFEF;
    height: 34px;
    width: 75%;
    outline: none;
    border: none;
    padding: 0px 10px;
  }
  .Aimacademy .header-top .icon-menu {
    display: block;
    margin-right: 20px;
  }
  .Aimacademy .header-top .icon-menu:hover {
    color: #F4023E;
  }
  .Aimacademy .header-main {
    width: 100%;
  }
  .Aimacademy .header-main-content {
    width: 100%;
  }
  .Aimacademy .header-main .header-heading {
    text-align: center;
    font-size: 34px;
    margin: 26px 0px 0px 0px;
  }
  .Aimacademy .header-main .menu-main-btn {
    flex-direction: column;
    width: 100%;
  }
  .Aimacademy .header-main .menu-main-btn .menu-btn-signin, .Aimacademy .header-main .menu-main-btn .menu-btn-enterprise {
    margin-bottom: 20px;
    width: 27%;
    font-weight: none;
    margin: 0px auto 20px auto;
    text-align: center;
    font-size: 14px;
  }

  .btn {
    display: none;
  }

  .header-main-img {
    display: none;
  }

  .header-main-content .header-heading {
    font-size: 36px;
  }
  .header-main-content .menu-btn-signin, .header-main-content .menu-btn-enterprise {
    padding: none;
  }

  .header-top .menu .menu-input {
    width: 204px;
    height: 36px;
    margin-right: 12px;
  }

  /*----------========== NEW-LESSON ==========----------*/
  .main {
    width: 100%;
  }
  .main .new-lesson {
    width: 100%;
    margin-bottom: 40px;
  }
  .main .new-lesson-item {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  }
  .main .new-lesson-header {
    width: 95%;
  }
  .main .new-lesson-header-heading {
    margin: 20px 0px;
    font-size: 20px;
  }
  .main .new-lesson-header .btn-see-more {
    margin-right: 5px;
  }
  .main .new-lesson-header .btn-see-more .see-more {
    font-size: 12px;
  }
  .main .new-lesson .slick-initialized .slick-slide {
    margin: 0 5px;
  }
  .main .new-lesson-slide-item {
    width: 95%;
  }
  .main .new-lesson .winning {
    margin-bottom: 34px;
  }
  .main .new-lesson .new-lesson-item-heading {
    font-size: 14px;
    margin-top: 5px;
  }
  .main .new-lesson .new-lesson-item-content .item-content, .main .new-lesson .new-lesson-item-content .item-contents {
    font-size: 8px;
    font-weight: 300;
  }
  .main .new-lesson .new-lesson-item-content .item-content {
    width: 66%;
  }
  .main .new-lesson .new-lesson-item-content .item-contents {
    width: 52%;
  }
  .main .new-lesson .new-lesson-item-icon-calendar img, .main .new-lesson .new-lesson-item-icon-user img {
    width: 7px;
  }
  .main .new-lesson .new-lesson-item-text {
    font-size: 10px;
    margin-top: 1px;
  }
  .main .new-lesson .new-lesson-item-icon-time, .main .new-lesson .new-lesson-item-icon-users {
    font-size: 8px;
  }
  .main .new-lesson .btn-cart {
    display: none;
  }
  .main .new-lesson .fa-star {
    font-size: 7px;
  }
  .main .new-lesson .byding-btn {
    display: none;
  }
  .main .new-lesson .byding {
    height: 16px;
  }
  .main .new-lesson .price {
    font-size: 16px;
  }
  .main .new-lesson .slick-dots button {
    width: 8px;
    height: 12px;
  }

  /*----------========== ITEM-PRODUCT ==========----------*/
  .main {
    width: 100%;
  }
  .main .items-product {
    width: 100%;
    display: none;
  }

  /*----------========== LESSONS-WATCHED ==========----------*/
  .main {
    width: 100%;
  }
  .main .lessons-watched {
    width: 100%;
    margin-bottom: 40px;
  }
  .main .lessons-watched-item {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  }
  .main .lessons-watched-header {
    width: 95%;
  }
  .main .lessons-watched-header-heading {
    margin: 20px 0px;
    font-size: 20px;
  }
  .main .lessons-watched-header .btn-see-more {
    margin-right: 5px;
  }
  .main .lessons-watched-header .btn-see-more .see-more {
    font-size: 12px;
  }
  .main .lessons-watched .slick-initialized .slick-slide {
    margin: 0 5px;
  }
  .main .lessons-watched-slide-item {
    width: 95%;
  }
  .main .lessons-watched .winning {
    margin-bottom: 34px;
  }
  .main .lessons-watched .lessons-watched-item-heading {
    font-size: 14px;
    margin-top: 5px;
  }
  .main .lessons-watched .lessons-watched-item-content .item-content, .main .lessons-watched .lessons-watched-item-content .item-contents {
    font-size: 8px;
    font-weight: 300;
  }
  .main .lessons-watched .lessons-watched-item-content .item-content {
    width: 66%;
  }
  .main .lessons-watched .lessons-watched-item-content .item-contents {
    width: 52%;
  }
  .main .lessons-watched .lessons-watched-item-icon-calendar img, .main .lessons-watched .lessons-watched-item-icon-user img {
    width: 7px;
  }
  .main .lessons-watched .lessons-watched-item-text {
    font-size: 10px;
    margin-top: 1px;
  }
  .main .lessons-watched .lessons-watched-item-icon-time, .main .lessons-watched .lessons-watched-item-icon-users {
    font-size: 8px;
  }
  .main .lessons-watched .btn-cart {
    display: none;
  }
  .main .lessons-watched .fa-star {
    font-size: 7px;
  }
  .main .lessons-watched .byding-btn {
    display: none;
  }
  .main .lessons-watched .byding {
    height: 16px;
  }
  .main .lessons-watched .price {
    font-size: 16px;
  }
  .main .lessons-watched .slick-dots button {
    width: 1px;
    height: 12px;
  }

  /*----------========== ADVANTAGES-ITEM ==========----------*/
  .advantages {
    width: 100%;
  }
  .advantages-heading {
    font-size: 24px;
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
  }
  .advantages-item {
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
  }
  .advantages-item-content {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    height: 17px;
    padding: none;
  }
  .advantages-item-content .advantages-item-text {
    font-size: 12px;
    text-align: left;
  }
  .advantages-item-content .advantages-item-icon {
    margin-right: 20px;
  }
  .advantages-item-content .advantages-item-icon img {
    width: 25px;
  }
  .advantages-item-content .icon-Interactive {
    width: 70px;
    height: 50px;
  }
  .advantages-item-content .icon-accumulation {
    width: 115px;
    height: 50px;
  }
  .advantages-item-content .icon-route {
    width: 85px;
    height: 50px;
  }
  .advantages-item-content .icon-Interactive .img-interactive {
    width: 25px;
  }
  .advantages-item-heading {
    display: none;
    padding: none;
  }

  /*----------========== ROUTE-ITEM ==========----------*/
  .route {
    background: white;
  }
  .route-item {
    flex-direction: column;
    width: 100%;
  }
  .route-item-image {
    width: 95%;
    margin: 0px auto;
  }
  .route-item-image img {
    width: 100%;
  }
  .route-heading {
    font-size: 24px;
    width: 73%;
    margin: 50px auto 0px auto;
    text-align: center;
    font-weight: 600;
  }
  .route-content {
    width: 95%;
  }
  .route-content p {
    font-size: 14px;
    text-align: center;
  }
  .route .btn-route {
    margin: 0px auto;
    width: 92%;
  }

  /*----------========== ACCUMMULATED-POINTS ==========----------*/
  .accumulated-points .accumulated-points-item {
    flex-direction: column-reverse;
    width: 100%;
  }
  .accumulated-points .accumulated-points-item .accumulated-points-heading {
    font-size: 24px;
    text-align: center;
  }
  .accumulated-points .accumulated-points-item .accumulated-points-desc {
    width: 85%;
    font-size: 14px;
    margin: 0px auto 10px auto;
    text-align: center;
  }
  .accumulated-points .accumulated-points-item .btn-accumulated-points {
    margin: 0px auto;
    margin-bottom: 40px;
    width: 87%;
  }
  .accumulated-points .accumulated-points-item-image {
    width: 95%;
  }
  .accumulated-points .accumulated-points-item-image img {
    width: 100%;
  }

  /*----------========== ENTERPRISE ==========----------*/
  .enterprise-item {
    flex-direction: column;
    width: 100%;
  }
  .enterprise-item-image {
    width: 70%;
    margin: 0px auto;
  }
  .enterprise-item-image img {
    width: 100%;
  }
  .enterprise-item .enterprise-heading {
    font-size: 24px;
    text-align: center;
  }
  .enterprise-item .enterprise-desc {
    font-size: 14px;
    width: 85%;
    margin: 0px auto 10px auto;
    text-align: center;
  }
  .enterprise-item .btn-enterprise {
    margin: 0px auto;
    width: 87%;
  }

  /*----------========== MEMBER ==========----------*/
  .member {
    width: 100%;
  }
  .member-icon {
    display: none;
  }
  .member-list {
    width: 95%;
    padding: 0;
  }
  .member-list .member-information {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 5px;
  }
  .member-list .member-information-item-image {
    width: 30%;
    height: 154px;
    padding: 0;
    margin-right: 5px;
  }
  .member-list .member-information-item-image img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  .member-list .member-information-content {
    width: 80%;
    height: 100%;
  }
  .member-list .member-information-desc {
    font-size: 10px;
  }
  .member-list .member-information-text {
    font-size: 12px;
    margin-top: -20px;
    border: 1px solid;
  }
  .member-list .member-information-heading {
    font-size: 14px;
    transform: translateY(-10px);
  }

  /*----------========== CUSTOMERS-PARTERS ==========----------*/
  .customers-partners {
    width: 100%;
    background: white;
  }
  .customers-partners .customers-partner {
    width: 95%;
  }
  .customers-partners .customers-partner .customers-partners-heading {
    font-size: 24px;
  }
  .customers-partners .customers-partner .partner {
    width: 100%;
  }
  .customers-partners .customers-partner .partner img {
    width: 20%;
  }
  .customers-partners .customers-partner .customers-partner-info {
    width: 100%;
  }
  .customers-partners .customers-partner .customers-partner-info-desc {
    font-size: 12px;
  }
  .customers-partners .customers-partner .partners {
    width: 100%;
  }
  .customers-partners .customers-partner .partners img {
    width: 20%;
  }

  /*----------========== REGISTRATION ==========----------*/
  .registration {
    width: 100%;
    flex-direction: column-reverse;
  }
  .registration-image {
    width: 85%;
    margin: -20px auto 0px auto;
  }
  .registration-image img {
    width: 100%;
  }
  .registration-heading {
    font-size: 24px;
    text-align: center;
  }
  .registration-content {
    width: 95%;
  }
  .registration-content input {
    width: 92%;
  }
  .registration-content .text {
    font-size: 14px;
  }
  .registration-content .btn-registration {
    margin: 0px auto;
    width: 92%;
  }
  .registration-content select {
    width: 100%;
  }

  /*----------========== POLICY ==========----------*/
  .policy .policys {
    width: 95%;
  }
  .policy .policys-heading {
    font-size: 20px;
  }
  .policy .policys-text {
    font-size: 12px;
  }

  /*----------========== FOOTER ==========----------*/
  .footer-information {
    width: 95%;
    flex-direction: column;
  }
  .footer-information-establish {
    width: 100%;
  }
  .footer-information-establish-desc {
    font-size: 14px;
  }
  .footer-information-item, .footer-information-link {
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
  }
  .footer-information-contacts {
    margin-top: 10px;
  }
  .footer-information-contacts-heading {
    font-size: 20px;
  }
  .footer-information-contacts .content {
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 12px;
    width: 300px;
    margin: 0px auto;
  }
  .footer hr {
    width: 95%;
  }
}
/* Table: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.125em) and (max-width: 63.9375em) {
  .Aimacademy .header {
    background-position: center;
    width: 100%;
    height: 520px;
  }

  .Aimacademy .header .header-top {
    padding: 0px 30px;
    width: 85%;
  }
  .Aimacademy .header .header-top .header-logo {
    width: 57px;
    height: 30px;
    margin-right: 42px;
  }
  .Aimacademy .header .header-top .menu-input {
    width: 100%;
    margin-right: 30px;
  }
  .Aimacademy .header .header-top .icon-menu {
    display: block;
    margin-right: 20px;
  }
  .Aimacademy .header .header-top .menu-btn {
    width: 450px;
  }

  .header-main {
    margin-left: 0;
  }
  .header-main-content {
    width: 100%;
    margin: 0px auto;
  }
  .header-main .header-heading {
    text-align: center;
    width: 100%;
    margin-top: -50px;
  }
  .header-main .menu-main-btn {
    flex-direction: column;
  }
  .header-main .menu-main-btn .menu-btn-signin, .header-main .menu-main-btn .menu-btn-enterprise {
    margin-bottom: 20px;
    width: 40%;
    font-weight: none;
    margin: 0px auto 20px auto;
    text-align: center;
  }

  .header-main-img {
    display: none;
  }

  .header-main-content .header-heading {
    font-size: 36px;
  }
  .header-main-content .menu-btn-signin, .header-main-content .menu-btn-enterprise {
    padding: none;
  }

  .header-top .menu .menu-input {
    width: 204px;
    height: 36px;
    margin-right: 12px;
  }

  /*----------========== NEW-LESSON ==========----------*/
  .main .new-lesson-header {
    width: 85%;
  }
  .main .new-lesson .new-lesson-header-heading {
    font-size: 30px;
  }
  .main .new-lesson .btn-see-more .see-more {
    font-size: 16px;
  }
  .main .new-lesson .btn-see-more .fa-angle-right {
    font-size: 16px;
  }
  .main .new-lesson-slide-item {
    width: 85%;
  }
  .main .new-lesson .item-content {
    width: 85%;
  }
  .main .new-lesson .item-contents {
    width: 75%;
  }
  .main .new-lesson .slick-prev {
    left: -40px;
  }
  .main .new-lesson .slick-next {
    right: -40px;
  }

  .new-lesson-header .new-lesson-header-heading {
    font-size: 20px;
    margin-left: 10px;
  }

  .new-lesson-header .btn-see-more .see-more {
    font-size: 12px;
  }

  /*----------========== LESSONS-WATCHED ==========----------*/
  .main .lessons-watched-header {
    width: 85%;
  }
  .main .lessons-watched .lessons-watched-header-heading {
    font-size: 30px;
  }
  .main .lessons-watched .btn-see-more .see-more {
    font-size: 16px;
  }
  .main .lessons-watched .btn-see-more .fa-angle-right {
    font-size: 16px;
  }
  .main .lessons-watched .btn-see-mores .see-more {
    font-size: 16px;
  }
  .main .lessons-watched-slide-item {
    width: 85%;
  }
  .main .lessons-watched .item-content {
    width: 85%;
  }
  .main .lessons-watched .item-contents {
    width: 75%;
  }
  .main .lessons-watched .slick-prev {
    left: -40px;
  }
  .main .lessons-watched .slick-next {
    right: -40px;
  }

  .btn-see-more {
    margin-right: 10px;
  }

  .lessons-watched-header .btn-see-more .see-more {
    font-size: 12px;
  }

  .btn-see-mores {
    margin-right: 10px;
  }

  .lessons-watched-header .btn-see-mores .see-more {
    font-size: 12px;
  }

  /*----------========== ITEM-PRODUCT ==========----------*/
  .main .items-product {
    margin-top: 60px;
  }
  .main .items-product .items-products {
    width: 85%;
  }
  .main .items-product .skill {
    width: 85%;
  }

  /*----------========== ADVANTAGES-ITEM ==========----------*/
  .advantages .advantages-heading {
    font-size: 24px;
    width: 85%;
    margin: 0px auto;
    padding: 20px 0px;
  }

  .advantages-item {
    grid-template-columns: repeat(1, 1fr);
    width: 85%;
    margin: 0px auto;
  }
  .advantages-item-content {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    height: 17px;
  }
  .advantages-item-content .advantages-item-text {
    font-size: 16px;
    text-align: left;
    width: 80%;
  }
  .advantages-item-content .advantages-item-icon {
    margin-right: 20px;
    width: 15%;
  }
  .advantages-item-content .advantages-item-icon img {
    width: 30px;
  }
  .advantages-item-content .icon-Interactive {
    width: 73px;
    height: 70px;
    border-radius: 100%;
  }
  .advantages-item-content .icon-accumulation {
    width: 75px;
    height: 70px;
  }
  .advantages-item-content .icon-route {
    width: 75px;
    height: 70px;
  }
  .advantages-item-content .icon-route img {
    width: 35px;
    margin-top: 25px;
  }

  .advantages-item-heading {
    display: none;
    padding: none;
  }

  /*----------========== ROUTE-ITEM ==========----------*/
  .route {
    background: white;
  }

  .route-item {
    flex-direction: column;
    width: 100%;
  }

  .route-item .route-item-image {
    width: 85%;
    margin: 0px auto;
  }

  .route-item .route-item-image img {
    width: 100%;
  }

  .route-content .route-heading {
    font-size: 24px;
    width: 548px;
    margin: 50px auto 0px auto;
    text-align: center;
    font-weight: 600;
  }

  .route-content {
    width: 85%;
  }
  .route-content p {
    font-size: 14px;
    text-align: center;
  }

  .btn-route {
    margin: 0px auto;
  }

  /*----------========== ACCUMMULATED-POINTS ==========----------*/
  .accumulated-points .accumulated-points-item {
    flex-direction: column-reverse;
    width: 100%;
  }
  .accumulated-points .accumulated-points-item .accumulated-points-heading {
    font-size: 24px;
    text-align: center;
  }
  .accumulated-points .accumulated-points-item .accumulated-points-desc {
    width: 85%;
    font-size: 14px;
    margin: 20px auto;
    text-align: center;
  }
  .accumulated-points .accumulated-points-item .btn-accumulated-points {
    margin: 0px auto;
    margin-bottom: 40px;
  }
  .accumulated-points .accumulated-points-item-image {
    width: 85%;
  }
  .accumulated-points .accumulated-points-item-image img {
    width: 100%;
  }

  /*----------========== ENTERPRISE ==========----------*/
  .enterprise-item {
    flex-direction: column;
    width: 85%;
  }
  .enterprise-item-image {
    width: 100%;
    margin: 0px auto;
  }
  .enterprise-item-image img {
    width: 100%;
  }
  .enterprise-item .enterprise-heading {
    font-size: 24px;
    text-align: center;
  }
  .enterprise-item .enterprise-desc {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  .enterprise-item .btn-enterprise {
    margin: 0px auto;
  }

  /*----------========== MEMBER ==========----------*/
  .member {
    width: 100%;
  }
  .member-icon {
    display: none;
  }
  .member-list {
    width: 85%;
  }
  .member-information {
    width: 100%;
    margin: 0px auto;
    padding: 10px;
  }
  .member-information-item-image {
    width: 45%;
    height: 136px;
    padding: 0px 0px 0px 20px;
    margin-right: 20px;
  }
  .member-information-item-image img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  .member-information-desc {
    font-size: 10px;
  }
  .member-information-heading {
    font-size: 14px;
  }
  .member-information .btn-member-information {
    font-size: 12px;
    margin-top: -10px;
  }

  /*----------========== CUSTOMERS-PARTERS ==========----------*/
  .customers-partners {
    width: 100%;
  }
  .customers-partners .customers-partner {
    width: 85%;
  }
  .customers-partners .customers-partner .customers-partners-heading {
    font-size: 24px;
  }
  .customers-partners .customers-partner .partner {
    width: 100%;
  }
  .customers-partners .customers-partner .partner img {
    width: 20%;
  }
  .customers-partners .customers-partner .customers-partner-info {
    width: 100%;
  }
  .customers-partners .customers-partner .customers-partner-info-desc {
    font-size: 12px;
  }
  .customers-partners .customers-partner .partners {
    width: 100%;
  }
  .customers-partners .customers-partner .partners img {
    width: 20%;
  }

  /*----------========== REGISTRATION ==========----------*/
  .registration {
    width: 100%;
    flex-direction: column-reverse;
  }
  .registration-image {
    width: 85%;
    margin: 0px auto;
  }
  .registration-image img {
    width: 100%;
  }
  .registration-content {
    width: 85%;
  }
  .registration-content-heading {
    font-size: 24px;
  }
  .registration-content .text {
    font-size: 14px;
  }
  .registration-content .btn-registration {
    margin: 0px auto;
  }
  .registration-content select {
    width: 97%;
  }

  /*----------========== POLICY ==========----------*/
  .policy .policys {
    width: 85%;
  }
  .policy .policys-heading {
    font-size: 20px;
  }
  .policy .policys-text {
    font-size: 12px;
  }

  /*----------========== FOOTER ==========----------*/
  .footer-information {
    width: 87%;
    flex-direction: column;
  }
  .footer-information-establish {
    width: 100%;
  }
  .footer-information-establish-desc {
    font-size: 14px;
  }
  .footer-information-item, .footer-information-link {
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
  }
  .footer-information-contacts {
    margin-top: 10px;
  }
  .footer-information-contacts-heading {
    font-size: 20px;
  }
  .footer-information-contacts .content {
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 12px;
    width: 300px;
    margin: 0px auto;
  }
  .footer hr {
    width: 87%;
  }
}

/*# sourceMappingURL=aim.css.map */
