.feature{
    width:87%;
    margin: 0px auto;
    padding: 0px 90px;
    margin-top: 150px;
    &-desc{
        text-align: center;
        font-size: 18px;
        color: $gray;
        margin-bottom: 80px;
    }
    .features{
        &-section{
            width: 100%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:0px 50px;
            .global-heading{
                text-align: left;
                line-height: 1.5;
            }
        }
        &-content{
            width: 100%;
        }
        &-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        &-item{
            display: flex;
            justify-content: space-between;
        }
        &-icon{
            border-radius: 50%;
            margin-left: -40px;
            margin-right: 40px;
            margin-bottom: 30px;
            background-color: #FBFBFB;
            box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
            img{
                padding: 17px;
            }
        }
        &-text{
            font-size: 18px;
            color: $gray;   
            line-height: 1.8;  
            margin-top: -5px;    
        }
    }
    .teachers{
        width: 86%;
        margin: 0px auto;
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px 100px;
        &-content{
            width: 100%;
        }
        &-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .global-heading{
            text-align: left;
            line-height: 1.5;
            margin-top: 170px;
        }
    }
    .quizzes{
        width: 97%;
        margin: 0px auto;
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px 100px;
        &-content{
            width: 100%;
        }
        &-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .global-heading{
            text-align: left;
            line-height: 1.5;
            margin-top: 170px;
        }
    }
    .management{
        width: 98%;
        margin: 0px auto;
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px 50px;
        &-content{
            width: 100%;
        }
        &-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .global-heading{
            text-align: left;
            line-height: 1.5;
            margin-top: 130px;
        }
    }
    .discussions{
        width: 98%;
        margin: 0px auto;
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px 100px;
        &-content{
            width: 100%;
        }
        &-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .global-heading{
            text-align: left;
            line-height: 1.5;
            margin-top: 110px;
        }
    }
    .btn-feature{
        width: 240px;
        margin: 0px auto;
        margin-top: 100px;
        .see-more-feature{
            color: $secondary_color;
            text-decoration: none;
            font-size: 18px;
            padding: 18px 35px;
            border: 1px solid $secondary_color;
            border-radius: 70px;    
        }
    }
}