/* =========== Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --primary: #bbb397;
  --text-1: #0f2341;
  --text-2: #a9a9a9;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 300ms ease-in-out;
  --transition-500: all 500ms ease-in-out;
}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--white);
  color: var(--text-1);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

h1,h2,h3,h4{
  color: var(--text-1);
}

p{
  color: var(--text-1);
}

img,video{
  width: 100%;
  height: 100%;
}

/* =========== Custom Classes ============ */
.d-flex{
  display: flex;
  align-items: center;

}
.container{
  max-width: 114rem;
  margin: 0 auto;
}

.section{
  margin: 5rem 0;
  padding: 10rem 0 5rem;
  overflow: hidden;
}

.title{
  margin-bottom: 2rem;
}

.title h1{
  font-size: 4rem;
}

@media (max-width:1200px){
  .container{
    padding: 0 3rem;
  }
  .project{
    margin-bottom: 20px;
  }
  .news{
    margin-bottom: 20px;
  }
}

@media (max-width:567px){
  .title h1{
    font-size: 3.rem;
  }
  .section{
    padding: 5rem 0 0;
  }
}
/* =========== Navigation ============ */

/* quan tâm cái này */
.header{
  position: relative;
  width: 100%;
  height: 650px;
  z-index: 99999999999;
}

.navigation{
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  padding: 1rem 0;
  position:absolute;

}
/*  */
.nav{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 3rem;
  justify-content: space-between;
}
.download{
  position: absolute;
  display: flex;
  right: 10%;
  top: 1rem;
}
.btn--mr{
  color: #fff;
  width: 9rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3rem;
  border: 1px solid white;
  font-size: 1.4rem;
}
.btn--mr:hover{
  color: #ffc400;
  background-color: white;
}
.btn-view{
  color: #fff;
  font-size: 1.8rem;
  border: 1px solid white;
  padding: 1.2rem 2.5rem;
}
.btn-view:hover{
  color: #ffc400;
  background-color: white;
}
.download-icon-search{
  color: var(--white);
  padding: 0.4rem 1.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.language::before{
  content: "";
  color: #fff;
  border: 1px solid #fff;
  margin-right: 1.5rem;
}
.language{
  margin-right: 3rem;
}
.language,
.language-link{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}
.language-link--deco{
    border-bottom: 2px solid #fff;
}
.logo img{
  width: 10rem;
  height: 7rem;
}
.nav-item:not(:last-child){
  margin-right: 0.1rem;
}
.nav-link{
  color: var(--white);
  padding: 1rem;
  display: inline-block;
}
.menu{
  margin-left: -7px;
}
.nav-link:hover{
  color: #ffc400;
  box-shadow: 0px 0px 5px 0px gray;
}
.nav-item li {
  position: relative;
  padding: 0px 10px;
}
.nav-item li > .sub-menu{
  display: none;
  position: absolute;
}
.nav-item li:hover .sub-menu{
  display:block;
}
.sub-menu li a{
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 1rem;
}
.sub-menu li{
  width: 13rem;
  height: 3.5rem;
  line-height: 3.5rem;
}
.sub-menu li:hover{
  box-shadow: 0px 0px 5px 0px gray;
}
.sub-menu{
  width: 13rem;
  height: 14rem;
  background-color: white;
  margin-left: -7px;
}
.nav-items{
  width: 100%;
  margin-top: 1rem;
}
#id{
  position: absolute;
  margin-top: 0;
  margin-right: 0;
}
.btn{
  display: inline-block;
  color: rgb(15, 15, 15);
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid rgb(15, 15, 15);
  padding: 1.2rem 3rem;
  transition: var(--transition-300);
}
.btn:hover{
  border-color: var(--primary);
  box-shadow: var(--shadow-500);
  transform: translateY(-3px);
}
.btn:active{
  transform: translateY(0);
}
.btn.sign-up{
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn.sign-up:hover{
  background-color: var(--primary);
  border-color: var(--primary);
}
.hamburger{
  display: none;
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}
.navigation.fix{
  position: fixed;
  background-color: var(--text-1);
}
@media (max-width:768px){
  .btn.sign-up{
    display: none;
  }
  .nav-list{
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    max-width: 70%;
    height: 100%;
    padding: 3rem 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: var(--shadow-300);
    transition: var(--transition-500);
  }
  .download{
    display: none;
  }
  .nav-list.open{
    left: 0;
    width: 50%;
    height: 50rem;
  }
  .nav-list .nav-item{
    margin: 0 0 1rem;
  }
  .nav-list .nav-link{
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-1);
    font-weight: 500;
  }
  .hamburger{
    display: flex;
  }
  .logo img{
    width: 5rem;
    height: 5rem;
  }
}
/* =========== Home ============ */

.swiper-container{
  width: 100%;
  height: 100%;
}
.header .swiper-slide img,
.header .swiper-slide video{
  height: 100vh;
  object-fit: cover;
}
.header .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  width: 70%;
  text-align: center;
}
.header .content h1{
  font-size: 7rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}
.swiper-container{
  height: 100%;
  position: relative;
}
.arrows{
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
}
.swiper-prev,
.swiper-next{
  background-color: rgba(240, 238, 238,0.1);
  border-radius: 50%;
  cursor: pointer;
}
.wiper-icon--move{
  color: white;
  font-size: 5rem;
  font-weight: 300;
  opacity: 0.7;
}
.swiper-prev:hover,
.swiper-next:hover{
  background-color: rgba(240, 238, 238,0.2);
}
.swiper-pagination{
  position: absolute;
  z-index: 1;
}
@media (max-width:966px){
  .header .content h1{
    font-size: 5rem;
  }
}
@media (max-width:768px){
  .header .swiper-next,
  .header .swiper-prev{
    width: 6rem;
    height: 6rem;
  }
}
@media (max-width:567px){
  .header .content{
    width: 100%;
  }
  .header .content h1{
    font-size: 4rem;
  }
}
/* =========== About ============ */
.About{
  max-width: 1080px;
  margin: auto;
}
.small-container{
  max-width: 108rem;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.h11{
  color: rgb(44, 43, 43);
}
.about-desc{
  font-size: 14px;
  color: rgb(44, 43, 43);
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.banner-img{
  width: 50rem;
  height: 35rem;
  margin: 5rem 0;
}
.banner-img{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
}
.banner-img {
  position:relative;
}
.fa-caret-right{
  color: #fff;
  font-size: 5rem;
  margin-left: 47%;
}
.banner-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.banner-img:hover .overlay {
  opacity: 1;
}
.img1{
  width: 49rem;
  height: 35rem;
}
.img2{
  width: 49rem;
  height: 35rem;
}
#btn{
  margin-left:43%;
}
.icon{
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 1px solid;
  margin: 0px auto;
}
.item-icon >.icon {
  margin: 3rem 0;
  margin-left: 25%;
}
.item-text{
  text-align: center;
}
.h4,.h1{
  text-align: center;
  font-weight: bold;
  margin: 2rem 0rem;
}
.item-icon{
  width: 20rem;
  height: 20rem;
}
.h44{
  text-align: center;
  font-weight: bold;
  margin: 3rem 0rem;
  padding-top: 3rem;
}
.btn2 {
  margin-left: 2rem;
}
/* Our Team
-------------------------------------------------------*/
.team-img{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
}
.team-img {
  position:relative;
}
.overlay {
  background-color: rgba(20,20,20,.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.team-details {
  opacity: 0;
  position: absolute;
  top: 60%;
  padding: 5%;
  width: 100%;
  z-index: 50;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}
#col{
  width: 30rem;
  height: 37rem;
}
.room-image{
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  position: static;
  top:0;
}
.image{
  width: 30rem;
  height: 30rem;
  margin-bottom: 3rem;
  transition: 2s;
}
.room-image:hover .image{
  transition: 5s;
  transform: scale(2);
}
.h5{
  margin-bottom: 30px;
}
.p1{
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 7rem 0;
}
/*========== Products ==========*/
.Products{
  width: 100%;
  background-color: rgb(248, 246, 246);
}
.h6{
  text-align: center;
  font-size: 13px;
  margin:-3rem 0;
}

.images{
  width: 27rem;
  height: 40rem;

}
.btn2{
  display: inline-block;
  color: rgb(253, 249, 249);
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid rgb(253, 251, 251);
  padding: 1.5rem 3rem;
  transition: var(--transition-300);
  margin-top: 1rem;
}
.btn2:hover{
  border-color: var(--primary);
  box-shadow: 0px 0px 5px 0px white;
  transform: translateY(-3px);
}
.btn2:active{
  transform: translateY(0);
}
/*========== New ==========*/
.new{
  width: 100%;
  background-color: rgb(248, 246, 246);
}
.h{
  margin: 3rem 0;
  padding-top: 3rem;
}
#col1{
  width: 42rem;
  background-color: white;
  height: auto;
}
#col1 .pic-5{
  width:100%;
  height: 25rem;
}
#col2{
  width: 70rem; 
  background-color: white;

}
.text1{
  padding: 10px 15px;
}
.btn-text{
  margin-bottom: 68px;
}
.news .btn-text1{
  color: rgb(79, 77, 77);
  margin-bottom: 50px;
  margin-left: 15px;
}
.small-cards:hover{
  color: #ffc400;
}
.col3{
  width: 100%;
}
.ik{
  margin-bottom: 1.8rem;
}

.col-image{
  width: 20rem;
  margin-left: -12px;
}
.col-text{
  margin-right: 9.9rem;
  margin-left: 2rem;

}
.hero-1{
  width: 100%;
  height: 17.7rem;
}
.small-card{
  margin: 2rem auto; 
  border: none;

}
.button{
  margin-top:2rem;
  margin-left: 38%;
  margin-bottom: 3rem;
}
/* =========== Footer ============ */
footer{
  background: black;
}
.small-col-2{
  margin: 5rem 0;
  width: 46rem;
  height: 31rem;
}
.logo-image{
  width: 30rem;
  height: 15rem;
}
.fixnav ul li a{
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
.company-icon{
  color:white;
  font-size: 2rem;
}
.btn-contact{
  display: inline-block;
  color: rgb(253, 249, 249);
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid rgb(253, 251, 251);
  padding: 1.5rem 3rem;
  transition: var(--transition-300);
  margin-bottom: 3rem;
}
.btn-contact:hover{
  border-color: var(--primary);
  box-shadow: 0px 0px 5px 0px white;
  transform: translateY(-3px);
}
.btn-contact:active{
  transform: translateY(0);
}
.logo-images{
  width: 100%;
  height: 30rem;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  width: 25rem;
  height:25rem;
  margin-top: 2rem;
}
.footer-category-item{
  margin-bottom: 5rem;
}
.footer-item-a a{
  color: #fff;
  
}
.footer-category-item{
  color: #fff;
}
.footer-category-item,.footer-item-a a:hover{
  color: #fff;
}
.footer-item-a a:hover{
  box-shadow: 0px 0px 5px 0px gray;
}
.copyright{
  color: #fff;
  text-align: center;
  margin: 2rem 0;
  padding-bottom: 2rem;
}