.footer{
    background-color: #252641;
    &-skilline{
        width: 30%;
        margin: 0 auto;
        padding: 30px 0px 30px 0px;
        &-logo{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:0px 20px;
            align-items: center;
            padding: 40px;
            img{
                width: 150px;
            }
        }
        &-heading{
            color: $white;
            font-size: 24px;
        }
        &-subscribe{
            font-size: 20px;
            font-family: $font-primary;
            color: #B2B3CF;
            text-align: center;
        }&-email{
            display: flex;
            margin: 0px auto;
            align-items: center;
            width: 95%;
            &-input{
                padding: 14px 10px;
                width: 250px;
                border-radius: 50px;
                outline: none;
                border: 1px solid #B2B3CF;
                background-color: #252641;
                color: #B2B3CF;
            }
            .btn-subscribe{
                color: $white;
                text-decoration: none;
                padding: 14px 25px;
                background: linear-gradient(to right,#5359E6,#393FCF);
                border-radius: 50px;
                margin-left: 20px;
            }
        }
        &-items{
            display: flex;
            grid-gap:0px 15px;
            margin-top: 70px;
            &-link{
                list-style-type: none;
                color: #B2B3CF;
                font-size: 16px;
            }
        }
        &-design{
            text-align: center;
            margin-top: 20px;
            display: block;
            color: #B2B3CF;
        }
    }
}