.introduce{
    &-header{
        max-width: 870px;
        margin: 0px auto;
        padding: 0px 15px;
    }
    &-desc{
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 1.8;
        color: $gray;
        margin-bottom: 100px;
    }
    &-list{
        width: 75%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:0 40px;
        margin-bottom: 130px;
    }
    &-item{
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
        border-radius: 20px;
        width: 82.5%;
        padding:0px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    &-icon {
        width: 80px;
        height: 80px;
        background-color: $secondary_color;
        border-radius: 50%;
        margin: 0px auto;
        transform: translateY(-40px);
    }
    &-icon img{
        width: 40px;
        height: 40px;
        margin-top: 40px;
        transform: translateY(-20px);
    }
    &-title{
        font-size: 24px;
        color: $primary_color;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 24px;
        align-self: center;
    }
    &-text{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        line-height: 1.8;
        color: $gray;
    }
    .tracking {
        margin-top: 20px;
    }
    .tracking-desc{
        margin-top: 25px;
    }
    .icon-file{
        background-color: $purple;
    }
    .icon-teachers{
        background-color: $third-color;
    }
    .icon-teachers img{
        color: $white;
    }
}