.items-product{
    margin: 30px auto;
    width: 1032px;
    .fa-angle-left{
        margin-right: 10px;
        padding: 4px 8px;
        background-color: $black-text;
        border-radius: 55%;
        color: $white;
    }
    .fa-angle-right{
        margin-left: 10px;
        padding: 4px 8px;
        background-color: $black-text;
        border-radius: 55%;
        color: $white;
    }
    .item-text{
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: $black-text;
    }
    .skill{
        width: 100%;
        background: rgba(249, 0, 59, 0.2);
        border-radius: 5px;
        &-pink {
            width: 13%;
            height: 7px;
            background-color:$red-pink;
            border-radius: 5px;
          }
    }
}
