
    .lessons-watched{
        margin: 0 auto;
        .lessons-watched-header{
            width: 69%;
            margin: 0 auto;
            &-heading{
                font-style: normal;
                font-weight: 500;
                font-size: 38px;
                line-height: 56px;
                color: $black-text;
            }
        }
        .slick-initialized .slick-slide {
            margin: 0 10px;
            }
        .lessons-watched-slide-item{
            width: 69%;
            margin: 0 auto;
            background: none;
        }
        .btn-see-more{
            display: flex;
            align-items: center;
            text-align: right;
            .see-more{
                color: $pink-orange;
                font-size: 18px;
                font-weight: 500;
            }
            .fa-angle-right{
                font-size: 18px;
                color: $pink-orange;
                font-weight: 500;
                margin-left: 10px;
            }
        }
        .btn-see-mores{
            display: flex;
            align-items: center;
            text-align: right;
            .see-more{
                color: $pink-orange;
                font-size: 18px;
                font-weight: 500;
            }
            .fa-angle-right{
                font-size: 18px;
                color: $pink-orange;
                font-weight: 500;
                margin-left: 10px;
            }
        }
        .lessons-watched-item{
            background: #FFFFFF;
            box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            width:316px;
            padding: 7px;
            &-image{
                width: 100%;
            }
            &-heading{
                font-size: 24px;
                display: block;
                font-weight: 500;
                color: $black-text;
            }
            &-content{
                img{
                    margin-right: 5px;
                }
                .item-content{
                    color: $white;
                    font-size: 12px;
                    font-weight: 500;
                    background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
                    border-radius: 5px;
                    margin-bottom: 5px;
                    padding: 5px 7px;
                    display: flex;
                    width: 54%;
                }
                .item-contents{
                    color: $white;
                    font-size: 12px;
                    font-weight: 500;
                    background: linear-gradient(90deg, rgba(227, 32, 104, 0.5) 2.44%, rgba(245, 0, 59, 0.5) 100%);
                    border-radius: 5px;
                    margin-bottom: 5px;
                    padding: 5px 7px;
                    display: flex;
                    width: 42%;
                }
            }
            &-icon{
                padding: 5px 0;
                margin-top: -15px;
                &-calendar,&-user,&-star{
                    grid-gap: 0 5px;
                }
                .fa-star{
                    color: $red-pink;
                }
                .stars{
                    color: $light-pink;
                }
            }
            .btn-cart{
                border: 1px solid $pink-orange;
                padding: 7px 13px;
                border-radius: 7px;
                display: flex;
                width: 154px;
                box-sizing: border-box;
                color: $pink-orange;
                font-weight: 500;
                margin-bottom: 5px;
                position: relative;
                overflow: hidden!important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                background: transparent!important;
                z-index:10;
                img{
                    margin-right: 5px;
                }
            }
            .btn-cart:hover{
                color: $white!important;
            }       
            .btn-cart::after{
                content: '';
                width: 0%;
                height: 100%;
                display: block;
                background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
                position: absolute;
                -ms-transform: skewX(-20deg);
                -webkit-transform: skewX(-20deg); 
                transform: skewX(-20deg);   
                left: -10%;
                opacity: 0;
                top: 0;
                z-index: -15;
                -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
                -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
                -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
                transition: all .4s cubic-bezier(.2,.95,.57,.99);
            }
            .btn-cart:hover::after, .btn-cart:hover::after{
              opacity:1;
              width: 120%;
            }
            .byding-btn{
                background: linear-gradient(135deg, #E32068 0%, #F5003B 100%);
                border: 1px solid #F9003B;
                box-sizing: border-box;
                border-radius: 7px;
                color: $white;
                font-weight: 500;
                padding: 7px 40px;
                margin-top: 10px;
            }
            .byding-btn:hover{
                background: $gray-white;
                color: $black-text;
                transition: all .5s ease-in-out;
                box-shadow: 0px 4px 10px rgba(52, 56, 70, 0.381);
                border: none;
            }
            .price{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
