@media  (max-width: 1225px){
    .header-top .icon-menu{
        display: block;
        margin-right: 20px;
    }
    .menu-item{
        display: none;
    }
    
}
/* Mobile: width < 740px */
@media only screen and (max-width:46.11875em){
    .header-main{
        margin-left: 0;
    }
    .new-lesson-slide-item{
        grid-template-columns: repeat(1, 1fr);
        .new-lesson-item{
            margin-bottom: 20px;
            margin-left: 18px;
        }
    }
    .lessons-watched-slide-item{
        grid-template-columns: repeat(1, 1fr);
        .lessons-watched-item{
            margin-bottom: 20px;
            margin-left: 18px;
        }
    }
    .advantages-item {
        grid-template-columns: repeat(1, 1fr);
        &-content{
            margin-bottom: 20px;
            margin-left: 18px;
        }
    }
    .route-item{
        flex-direction: column;
    }
}
/* Table: width >= 740px and width < 1024px*/
@media only screen and (min-width:46.125em) and (max-width:63.9375em){

}