$red-pink:#E41E66;
$pink-orange:#F4023E;
$light-pink:pink;
$white:white;
$black:black;
$gray:#5D606B;
$black-text:#343846;
$font-primary:"roboto", sans-serif;
.aim-heading{
    font-size: 36px;
    font-weight: 500;
    font-family: $font-primary;
    color: $black-text;
    list-style: 1.5;
    font-style: normal;
}
.aim-text{
    font-size: 14px;
    font-family: $font-primary;
    color: $black-text;
    list-style: 18px;
    font-weight: 300;
    font-style: normal;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0px 20px;
}