body {
  font-weight: 400;
  line-height: 1;
  color: #696984;
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  max-width: 1520px;
  width: 100%;
  margin: 0px auto;
  /*----------==================== HEADER-MAIN ====================----------*/
}
.wrapper .input {
  display: none;
}
.wrapper .input:checked ~ .menu-mobile {
  transform: translateY(0%);
  opacity: 1;
}
.wrapper .input:checked ~ .overlay {
  display: block;
}
.wrapper .overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none;
  animation: fadeIn 0.5s linear;
}
.wrapper .menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 60%;
  max-width: 1520px;
  background: #ffffff;
  transform: translateX(-100%);
  z-index: 10000;
  transition: transform linear 0.5s, opacity linear 0.5s;
  opacity: 0;
}
.wrapper .menu-mobile .header-mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .menu-mobile .header-mobile-top img {
  width: 30%;
  margin: 10px 10px 0px 10px;
}
.wrapper .menu-mobile .header-auths {
  width: 100%;
  margin-top: 20px;
}
.wrapper .menu-mobile .btn-primarys {
  color: #fff;
  background-color: #f48c06;
  padding: 13px 25px;
}
.wrapper .menu-mobile .btn-whites {
  color: #6C6C6C;
  border: 1px solid #6C6C6C;
  margin-right: 20px;
  margin-left: 12px;
}
.wrapper .menu-mobile .menu-close {
  font-size: 34px;
  color: #f48c06;
  margin-right: 10px;
  margin-top: 10px;
}
.wrapper .menu-mobile .menu-mobiles {
  margin: 0;
  padding: 0;
}
.wrapper .menu-mobile .menu-mobiles .menu-item-mobile {
  margin: 24px 0px;
  list-style: none;
}
.wrapper .menu-mobile .menu-mobiles .menu-item-mobile .menu-link-mobile {
  text-decoration: none;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #464646;
  margin-left: 12px;
}
.wrapper .menu-mobile .menu-mobiles .menu-item-mobile .menu-link-mobile:hover {
  color: #f48c06;
}
.wrapper .header {
  width: 100%;
  height: 930px;
  background: #FFF3E4;
  clip-path: ellipse(100% 100% at top);
  /*----------==================== HEADER-TOP ====================----------*/
}
.wrapper .header-container {
  width: 87%;
  margin: 0px auto;
}
.wrapper .header-top {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header-top .header-auth {
  display: flex;
}
.wrapper .header-top .header-auth .fa-bars {
  font-size: 28px;
  align-items: center;
  display: none;
}
.wrapper .header-top-logo {
  width: 169px;
}
.wrapper .menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 70px;
  margin-left: auto;
  margin-right: 60px;
  font-weight: 500;
}
.wrapper .menu-link {
  text-decoration: none;
  color: #252641;
  font-size: 18px;
}
.wrapper .icon-menu {
  align-items: center;
  color: black;
  margin-left: 20px;
  display: none;
}
.wrapper .btn {
  display: inline-block;
  outline: none;
  line-height: 1;
  padding: 13px 35px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 100rem;
  cursor: pointer;
  font-weight: 500;
}
.wrapper .btn-primary {
  color: #fff;
  background-color: #f48c06;
  padding: 13px 25px;
}
.wrapper .btn-white {
  color: #6C6C6C;
  background-color: #fff;
  margin-right: 20px;
}
.wrapper .header-main {
  display: flex;
  grid-gap: 0px 100px;
  width: 100%;
}
.wrapper .header-main .header-content {
  margin-top: 150px;
  margin-left: 40px;
  width: 40%;
}
.wrapper .header-main .header-image {
  width: 60%;
}
.wrapper .header-main .header-image .header-pic {
  width: 100%;
}
.wrapper .header-heading {
  color: #f48c06;
  font-size: 36px;
  line-height: 1.5;
}
.wrapper .header-heading span {
  color: #2f327d;
}
.wrapper .header-desc {
  color: #464646;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 30px;
}
.wrapper .btn--primary {
  color: #fff;
  background-color: #f48c06;
  padding: 18px 25px;
  margin-right: 50px;
}
.wrapper .header-actions {
  margin-top: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
.wrapper .header-actions-watch {
  color: black;
}
.wrapper .watch {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.wrapper .watch-icon {
  text-align: center;
  line-height: 58px;
  align-items: center;
  justify-content: center;
}
.wrapper .watch-icon-play {
  width: 15px;
}

.company-heading {
  margin-top: 100px;
  text-align: center;
  display: block;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #696984;
}
.company-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 50px;
  width: 75%;
  margin: 0px auto;
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 150px;
}
.company-logo img {
  width: 138px;
}

.introduce-header {
  max-width: 870px;
  margin: 0px auto;
  padding: 0px 15px;
}
.introduce-desc {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
  color: #696984;
  margin-bottom: 100px;
}
.introduce-list {
  width: 75%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 40px;
  margin-bottom: 130px;
}
.introduce-item {
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  border-radius: 20px;
  width: 82.5%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.introduce-icon {
  width: 80px;
  height: 80px;
  background-color: #f48c06;
  border-radius: 50%;
  margin: 0px auto;
  transform: translateY(-40px);
}
.introduce-icon img {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  transform: translateY(-20px);
}
.introduce-title {
  font-size: 24px;
  color: #2f327d;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
  align-self: center;
}
.introduce-text {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
  color: #696984;
}
.introduce .tracking {
  margin-top: 20px;
}
.introduce .tracking-desc {
  margin-top: 25px;
}
.introduce .icon-file {
  background-color: #5b72ee;
}
.introduce .icon-teachers {
  background-color: #65daff;
}
.introduce .icon-teachers img {
  color: #fff;
}

.global-heading {
  color: #2f327d;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
}
.global-heading span {
  color: #f48c06;
}
.global-desc {
  line-height: 1.8;
  font-size: 18px;
  color: #696984;
}

.about {
  width: 75%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 130px;
}
.about-header {
  padding: 0 100px;
}
.about-text {
  font-size: 18px;
  line-height: 1.8;
  color: #696984;
  margin-bottom: 70px;
}
.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 79px;
}
.about-list-item {
  position: relative;
  width: 100%;
}
.about-list-item img {
  width: 100%;
}
.about-title {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.about-content {
  position: absolute;
  left: 25%;
  top: 30%;
}
.about .btn--outline {
  color: #fff;
  font-size: 18px;
  padding: 24px 35px;
  border: 1px solid #fff;
}
.about .btn--student {
  color: #fff;
  font-size: 18px;
  padding: 24px 35px;
  background-color: #29b7e7bd;
}

.youcan {
  width: 85%;
  margin: 0px auto;
  padding: 0px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 80px;
}
.youcan-color {
  width: 50px;
  height: 50px;
  background-color: #F4B767;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: -25px;
}
.youcan-heading {
  font-size: 26px;
  color: #2f327d;
  font-weight: 500;
  line-height: 1.5;
  margin-top: -40px;
}
.youcan-heading span {
  color: #f48c06;
}
.youcan-desc {
  font-size: 18px;
  line-height: 1.8;
  color: #696984;
  margin-bottom: 30px;
}
.youcan-more {
  color: #696984;
  font-size: 18px;
}
.youcan-content {
  width: 100%;
}
.youcan-image {
  width: 100%;
  position: relative;
}
.youcan-image img {
  width: 100%;
}
.youcan .watchs {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 45%;
  left: 45%;
}
.youcan .watchs-icon img {
  width: 18px;
  margin-top: 10px;
}

.feature {
  width: 87%;
  margin: 0px auto;
  padding: 0px 90px;
  margin-top: 150px;
}
.feature-desc {
  text-align: center;
  font-size: 18px;
  color: #696984;
  margin-bottom: 80px;
}
.feature .features-section {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 50px;
}
.feature .features-section .global-heading {
  text-align: left;
  line-height: 1.5;
}
.feature .features-content {
  width: 100%;
}
.feature .features-image {
  width: 100%;
}
.feature .features-image img {
  width: 100%;
}
.feature .features-item {
  display: flex;
  justify-content: space-between;
}
.feature .features-icon {
  border-radius: 50%;
  margin-left: -40px;
  margin-right: 40px;
  margin-bottom: 30px;
  background-color: #FBFBFB;
  box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);
}
.feature .features-icon img {
  padding: 17px;
}
.feature .features-text {
  font-size: 18px;
  color: #696984;
  line-height: 1.8;
  margin-top: -5px;
}
.feature .teachers {
  width: 86%;
  margin: 0px auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 100px;
}
.feature .teachers-content {
  width: 100%;
}
.feature .teachers-image {
  width: 100%;
}
.feature .teachers-image img {
  width: 100%;
}
.feature .teachers .global-heading {
  text-align: left;
  line-height: 1.5;
  margin-top: 170px;
}
.feature .quizzes {
  width: 97%;
  margin: 0px auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 100px;
}
.feature .quizzes-content {
  width: 100%;
}
.feature .quizzes-image {
  width: 100%;
}
.feature .quizzes-image img {
  width: 100%;
}
.feature .quizzes .global-heading {
  text-align: left;
  line-height: 1.5;
  margin-top: 170px;
}
.feature .management {
  width: 98%;
  margin: 0px auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 50px;
}
.feature .management-content {
  width: 100%;
}
.feature .management-image {
  width: 100%;
}
.feature .management-image img {
  width: 100%;
}
.feature .management .global-heading {
  text-align: left;
  line-height: 1.5;
  margin-top: 130px;
}
.feature .discussions {
  width: 98%;
  margin: 0px auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 100px;
}
.feature .discussions-content {
  width: 100%;
}
.feature .discussions-image {
  width: 100%;
}
.feature .discussions-image img {
  width: 100%;
}
.feature .discussions .global-heading {
  text-align: left;
  line-height: 1.5;
  margin-top: 110px;
}
.feature .btn-feature {
  width: 240px;
  margin: 0px auto;
  margin-top: 100px;
}
.feature .btn-feature .see-more-feature {
  color: #f48c06;
  text-decoration: none;
  font-size: 18px;
  padding: 18px 35px;
  border: 1px solid #f48c06;
  border-radius: 70px;
}

.integrations {
  width: 78%;
  margin: 140px auto 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 50px;
}
.integrations-brand {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 40px;
}
.integrations-brand-onedrive {
  width: 200px;
}
.integrations-brand-dropbox {
  width: 102px;
  margin-left: 70px;
}
.integrations-brand-google-drive {
  width: 118px;
  margin-left: 70px;
  margin-top: 50px;
}
.integrations-brand-team {
  width: 131px;
  margin-left: 70px;
}
.integrations-content {
  width: 100%;
}
.integrations-caption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 10px;
}
.integrations-caption hr {
  width: 50px;
  background-color: #2f327d;
  margin-left: -1px;
  size: 0.2px;
}
.integrations-caption-heading {
  font-size: 20px;
  color: #2f327d;
  margin-left: -210px;
}
.integrations .global-heading {
  text-align: left;
}
.integrations .btn-integrations {
  color: #f48c06;
  text-decoration: none;
  font-size: 18px;
  padding: 19px 35px;
  border: 1px solid #f48c06;
  border-radius: 70px;
}

.testimonal {
  width: 85%;
  margin: 140px auto 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 50px;
}
.testimonal-brand {
  width: 75%;
}
.testimonal-brand img {
  width: 100%;
  border-radius: 20px;
}
.testimonal-brand-text {
  line-height: 2;
  font-size: 16px;
}
.testimonal-brand-item {
  width: 460px;
  height: 240px;
  box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
  border-radius: 20px;
  padding: 20px 30px;
  border-left: 15px solid #F67766;
  transform: translateY(-180px);
  margin-left: 65px;
  background-color: #fff;
}
.testimonal-brand-item-review {
  display: flex;
  justify-content: space-between;
}
.testimonal-brand-item-review .evaluate-star {
  display: flex;
}
.testimonal-brand-item-review .user-review {
  font-weight: 500;
}
.testimonal-brand-arrow {
  position: absolute;
  z-index: 1000;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(41, 44, 124, 0.15);
  width: 60px;
  height: 60px;
  transform: translateY(-320px);
  margin-left: 430px;
}
.testimonal-brand-arrow-icon img {
  width: 18px;
  align-items: center;
  position: absolute;
  text-align: center;
  left: 35%;
  top: 30%;
}
.testimonal-caption {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 10px;
}
.testimonal-caption hr {
  width: 50px;
  background-color: #2f327d;
  margin-left: -1px;
  size: 0.2px;
}
.testimonal-caption-heading {
  font-size: 20px;
  color: #2f327d;
  margin-left: -240px;
}
.testimonal-content {
  width: 100%;
}
.testimonal-content-btns {
  width: 320px;
  height: 60px;
  border: 1px solid #f48c06;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 30px;
}
.testimonal-content-arrow {
  width: 14px;
  height: 14px;
  border: 1px solid #f48c06;
  padding: 22px;
  border-radius: 50%;
}
.testimonal-content-btns:hover .testimonal-content-arrow {
  transform: translateX(-434%);
  transition: all 1.5s ease;
}
.testimonal-content-btns:hover .btn-testimonal {
  transform: translateX(34%);
  transition: all 1.5s ease;
}
.testimonal .global-heading {
  text-align: left;
  font-size: 54px;
}
.testimonal .btn-testimonal {
  color: #f48c06;
  text-decoration: none;
  font-size: 18px;
  margin-left: 25px;
}

.lastest {
  width: 85%;
  margin: 0px auto;
}
.lastest-header {
  text-align: center;
  margin-bottom: 80px;
}
.lastest-list {
  display: flex;
  grid-gap: 0px 40px;
}
.lastest-list .lastest-news {
  padding: 0px 50px 0px 0px;
  position: relative;
  width: 100%;
}
.lastest-list .lastest-news img {
  width: 100%;
}
.lastest-list .news-heading {
  font-size: 22px;
  color: black;
  font-weight: 500;
}
.lastest-list-news {
  width: 100%;
}
.lastest-list-news-item {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 0px;
  margin-bottom: 30px;
  width: 100%;
}
.lastest-list-news-img {
  width: 75%;
}
.lastest-list-news-img img {
  width: 100%;
  position: relative;
}
.lastest-list-news-content {
  width: 100%;
  padding: 10px 20px;
}
.lastest-list-news-content .news-img-heading {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 500;
  color: black;
}
.lastest-list-news-content .news-img-text {
  font-size: 16px;
  line-height: 1.8;
}
.lastest .btn-news {
  font-size: 14px;
  padding: 5px 30px;
  background-color: #F4C467;
  margin-top: 40px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 550;
  color: black;
  border: none;
}
.lastest .news-text {
  font-size: 16px;
  line-height: 1.8;
  color: #696984;
}
.lastest .btn-read-more {
  color: #696984;
}
.lastest .btn-news-img {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #F4C467;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  border: none;
  margin-top: 120px;
  margin-left: -150px;
  position: absolute;
}
.lastest .btn-news-imgs {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #F4C467;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  border: none;
  margin-top: 120px;
  margin-left: -80px;
  position: absolute;
}

.footer {
  background-color: #252641;
}
.footer-skilline {
  width: 30%;
  margin: 0 auto;
  padding: 30px 0px 30px 0px;
}
.footer-skilline-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 20px;
  align-items: center;
  padding: 40px;
}
.footer-skilline-logo img {
  width: 150px;
}
.footer-skilline-heading {
  color: #fff;
  font-size: 24px;
}
.footer-skilline-subscribe {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #B2B3CF;
  text-align: center;
}
.footer-skilline-email {
  display: flex;
  margin: 0px auto;
  align-items: center;
  width: 95%;
}
.footer-skilline-email-input {
  padding: 14px 10px;
  width: 250px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #B2B3CF;
  background-color: #252641;
  color: #B2B3CF;
}
.footer-skilline-email .btn-subscribe {
  color: #fff;
  text-decoration: none;
  padding: 14px 25px;
  background: linear-gradient(to right, #5359E6, #393FCF);
  border-radius: 50px;
  margin-left: 20px;
}
.footer-skilline-items {
  display: flex;
  grid-gap: 0px 15px;
  margin-top: 70px;
}
.footer-skilline-items-link {
  list-style-type: none;
  color: #B2B3CF;
  font-size: 16px;
}
.footer-skilline-design {
  text-align: center;
  margin-top: 20px;
  display: block;
  color: #B2B3CF;
}

.menu-link:hover {
  color: #f48c06;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  color: #f48c06;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn-white:hover {
  color: #fff;
  background-color: #f48c06;
  transition: all 0.3s ease-in-out;
}

.btn--primary:hover {
  color: #f48c06;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.header-actions-watch:hover {
  color: #f48c06;
  transition: all 0.3s ease-in-out;
}

.btn--outline:hover {
  background-color: #29b7e7bd;
  transition: all 0.5s ease-in-out;
  border: none;
}

.btn--student:hover {
  background-color: rgba(28, 213, 213, 0.734);
  transition: all 0.5s ease-in-out;
}

.youcan-more:hover {
  color: #f48c06;
  transition: all 0.5s ease-in-out;
}

.btn-feature .see-more-feature:hover {
  color: white;
  background-color: #f48c06;
  transition: all 0.5s ease-in-out;
}

.btn-integrations:hover {
  color: white;
  background-color: #f48c06;
  transition: all 0.5s ease-in-out;
}

.testimonal-content-btn:hover {
  background-color: #f48c06;
  transition: all 0.5s ease-in-out;
  border: 1px solid #fff;
  color: #fff;
}
.testimonal-content-btn:hover .btn-testimonal:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}
.testimonal-content-btn:hover .testimonal-content-arrow:hover {
  color: white;
  transition: all 0.5s ease-in-out;
  border: 1px solid #fff;
}

.btn-subscribe:hover {
  background: linear-gradient(to left, #5359E6, #393FCF);
  transition: all 0.5s ease-in-out;
}

.btn-read-more:hover {
  color: #f48c06;
  transition: all 0.5s ease-in-out;
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  .menu-item {
    display: none;
  }

  .wrapper .header {
    background: #29b7e7bd;
    height: 800px;
  }
  .wrapper .header-top .header-auth {
    width: 306px;
  }
  .wrapper .header-top .header-auth .fa-bars {
    display: block;
    margin-left: 20px;
    padding-top: 9px;
    font-size: 30px;
    color: #f48c06;
  }

  .header-container .header-main {
    flex-direction: column;
    grid-gap: none;
  }
  .header-container .header-main .header-content {
    width: 80%;
    margin: 100px auto 0px auto;
  }
  .header-container .header-main .header-image {
    display: none;
  }

  /*----------========== COMPANY ==========----------*/
  .company-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .company-logos .company-logo {
    margin-bottom: 20px;
  }

  /*----------========== INTRODUCE ==========----------*/
  .introduce-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .introduce-item {
    width: 89%;
    margin-bottom: 70px;
  }

  .introduce .introduce-list .introduce-item .introduce-text {
    margin-bottom: 100px;
  }

  /*----------========== ABOUT ==========----------*/
  .about-header {
    padding: 0px 0px;
  }
  .about-list {
    grid-template-columns: 1fr;
  }
  .about-list-item {
    margin-bottom: 40px;
  }

  /*----------========== YOU-CAN ==========----------*/
  .youcan {
    grid-template-columns: 1fr;
  }
  .youcan-content {
    margin-bottom: 50px;
  }

  /*----------========== FEATURE ==========----------*/
  .feature {
    padding: 0;
  }

  .features .features-section {
    grid-template-columns: 1fr;
  }

  .features-image {
    margin-bottom: 40px;
  }

  /*----------========== TEACHERS ==========----------*/
  .feature .teachers {
    grid-template-columns: 1fr;
  }
  .feature .teachers-content {
    margin-bottom: 40px;
  }
  .feature .teachers .global-heading {
    margin-top: 0px;
  }

  /*----------========== QUIZZES ==========----------*/
  .feature .quizzes {
    grid-template-columns: 1fr;
  }
  .feature .quizzes-image {
    margin-bottom: 40px;
  }
  .feature .quizzes .global-heading {
    margin-top: 0px;
  }

  /*----------========== MANAGEMENT ==========----------*/
  .feature .management {
    grid-template-columns: 1fr;
  }
  .feature .management-image {
    margin-bottom: 40px;
  }
  .feature .management .global-heading {
    margin-top: 0px;
  }

  /*----------========== MANAGEMENT ==========----------*/
  .feature .discussions {
    grid-template-columns: 1fr;
  }
  .feature .discussions-image {
    margin-bottom: 40px;
  }
  .feature .discussions .global-heading {
    margin-top: 0px;
  }

  /*----------========== INTEGRATIONS ==========----------*/
  .integrations {
    grid-template-columns: 1fr;
  }
  .integrations-brand {
    margin-bottom: 40px;
  }

  /*----------========== TESTIMONIAL ==========----------*/
  .testimonal {
    grid-template-columns: 1fr;
  }
  .testimonal-content {
    margin-bottom: 40px;
  }

  /*----------========== LASTEST ==========----------*/
  .lastest .lastest-list {
    flex-direction: column;
    grid-gap: 0px 0px;
  }
  .lastest .lastest-list .lastest-news {
    padding: 0;
    margin-bottom: 40px;
  }
}
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875rem) {
  .header-top .header-top-logo {
    width: 100px;
  }

  .header-auth .btn-white, .header-auth .btn-primary {
    display: none;
  }

  .menu-item {
    display: none;
  }

  .menu-item {
    display: none;
  }

  .header-actions {
    flex-direction: column;
  }
  .header-actions .btn--primary {
    margin: 0px auto;
  }

  .watch {
    display: none;
  }

  .header-actions-watch {
    display: none;
  }

  .wrapper .header {
    background: #29b7e7bd;
    height: 600px;
  }
  .wrapper .header-top .header-auth .fa-bars {
    display: block;
    margin-left: 20px;
    padding-top: 9px;
    font-size: 30px;
    color: #f48c06;
  }

  .header-container .header-main {
    flex-direction: column;
    grid-gap: none;
  }
  .header-container .header-main .header-content {
    width: 80%;
    margin: 50px auto 0px auto;
  }
  .header-container .header-main .header-content .header-heading {
    font-size: 30px;
  }
  .header-container .header-main .header-content .header-desc {
    font-size: 17px;
  }
  .header-container .header-main .header-image {
    display: none;
  }

  /*----------========== COMPANY ==========----------*/
  .company-heading {
    font-size: 20px;
  }
  .company-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .company-logos .company-logo {
    margin-bottom: 20px;
  }

  .global-heading {
    font-size: 26px;
  }
  .global-desc {
    font-size: 14px;
  }

  /*----------========== INTRODUCE ==========----------*/
  .introduce-list {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .introduce-title {
    margin: 0;
    font-size: 20px;
  }
  .introduce-desc {
    font-size: 14px;
  }
  .introduce-item {
    width: 100%;
    margin-bottom: 70px;
    padding: 0px;
  }
  .introduce-text {
    font-size: 14px;
  }

  /*----------========== ABOUT ==========----------*/
  .about {
    width: 90%;
  }
  .about-header {
    padding: 0px 0px;
  }
  .about-text {
    font-size: 14px;
  }
  .about-list {
    grid-template-columns: 1fr;
  }
  .about-list-item {
    margin-bottom: 40px;
  }
  .about .about-title {
    font-size: 18px;
  }
  .about .btn--outline, .about .btn--student {
    font-size: 14px;
    padding: 10px 20px;
  }

  /*----------========== YOU-CAN ==========----------*/
  .youcan {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .youcan-heading {
    font-size: 22px;
  }
  .youcan-desc {
    font-size: 14px;
  }
  .youcan-content {
    margin-bottom: 50px;
  }
  .youcan-more {
    color: #696984;
    font-size: 14px;
  }

  /*----------========== FEATURE ==========----------*/
  .feature {
    padding: 0;
  }
  .feature-section {
    grid-template-columns: 1fr;
  }
  .feature-heading {
    font-size: 26px;
  }
  .feature-desc {
    font-size: 14px;
  }
  .feature .btn-feature {
    margin-top: 50px;
  }
  .feature .btn-feature .see-more-feature {
    font-size: 14px;
  }

  .features .features-section {
    grid-template-columns: 1fr;
  }

  .features-image {
    margin-bottom: 40px;
  }

  .features-item .features-text {
    font-size: 14px;
  }

  /*----------========== TEACHERS ==========----------*/
  .feature .teachers {
    grid-template-columns: 1fr;
  }
  .feature .teachers-content {
    margin-bottom: 40px;
  }
  .feature .teachers .global-heading {
    margin-top: 0px;
  }

  /*----------========== QUIZZES ==========----------*/
  .feature .quizzes {
    grid-template-columns: 1fr;
  }
  .feature .quizzes-image {
    margin-bottom: 40px;
  }
  .feature .quizzes .global-heading {
    margin-top: 0px;
  }

  /*----------========== MANAGEMENT ==========----------*/
  .feature .management {
    grid-template-columns: 1fr;
  }
  .feature .management-image {
    margin-bottom: 40px;
  }
  .feature .management .global-heading {
    margin-top: 0px;
  }

  /*----------========== MANAGEMENT ==========----------*/
  .feature .discussions {
    grid-template-columns: 1fr;
  }
  .feature .discussions-image {
    margin-bottom: 40px;
  }
  .feature .discussions .global-heading {
    margin-top: 0px;
  }

  /*----------========== INTEGRATIONS ==========----------*/
  .integrations {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .integrations-brand {
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .integrations-brand-onedrive {
    width: 140px;
  }
  .integrations-brand-dropbox {
    width: 82px;
  }
  .integrations-brand-google-drive {
    width: 88px;
  }
  .integrations-brand-team {
    width: 101px;
  }
  .integrations-caption hr {
    width: 50px;
    background-color: #2f327d;
    margin-left: -1px;
    size: 0.2px;
  }
  .integrations-caption-heading {
    font-size: 16px;
    color: #2f327d;
    margin-left: -120px;
  }
  .integrations .btn-integrations {
    font-size: 14px;
    padding: 19px 35px;
  }

  /*----------========== TESTIMONIAL ==========----------*/
  .testimonal {
    width: 95%;
    grid-template-columns: 1fr;
  }
  .testimonal-content {
    margin-bottom: 40px;
    width: 100%;
  }
  .testimonal-content-btn {
    width: 70%;
    height: 50px;
    margin-top: 0px;
  }
  .testimonal-brand {
    width: 85%;
  }
  .testimonal-brand img {
    width: 100%;
    border-radius: 20px;
  }
  .testimonal-brand-text {
    line-height: 2;
    font-size: 10px;
  }
  .testimonal-brand-item {
    width: 240px;
    height: auto;
    padding: 10px 20px;
    margin-left: 65px;
    background-color: #fff;
  }
  .testimonal-brand-item .testimonal-brand-text {
    font-size: 10px;
  }
  .testimonal-brand-arrow {
    width: 40px;
    height: 40px;
    margin-left: 92%;
  }
  .testimonal-brand-arrow-icon img {
    width: 12px;
  }
  .testimonal .evaluate .evaluate-star img {
    width: 10px;
  }
  .testimonal .evaluate-text {
    font-size: 10px;
  }
  .testimonal .testimonal-caption-heading {
    font-size: 18px;
    margin-left: -120px;
  }
  .testimonal .global-heading {
    font-size: 24px;
  }
  .testimonal .global-desc {
    font-size: 14px;
  }
  .testimonal .btn-testimonal {
    font-size: 14px;
    margin-left: 15px;
  }

  /*----------========== LASTEST ==========----------*/
  .lastest .lastest-list {
    flex-direction: column;
    grid-gap: 0px 0px;
  }
  .lastest .lastest-list .lastest-news {
    padding: 0;
    margin-bottom: 40px;
  }
  .lastest .lastest-list .lastest-list-news-item {
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
  }
  .lastest .lastest-list .lastest-list-news-item .lastest-list-news-img {
    width: 100%;
  }
  .lastest .lastest-list .lastest-list-news-content {
    padding: 0;
    margin-top: 20px;
  }
  .lastest .lastest-list .btn-news-img {
    font-size: 8px;
    padding: 5px 10px;
    margin-top: 200px;
    margin-left: -120px;
  }
  .lastest .lastest-list .btn-news-imgs {
    margin-top: 200px;
    font-size: 8px;
  }
  .lastest .lastest-list .news-heading {
    font-size: 18px;
  }
  .lastest .lastest-list .news-text {
    font-size: 14px;
  }
  .lastest .lastest-list .btn-read-more {
    font-size: 14px;
  }
  .lastest .lastest-list .news-img-heading {
    font-size: 14px;
  }
  .lastest .lastest-list .news-img-text {
    font-size: 12px;
  }

  /*----------========== FOOTER ==========----------*/
  .footer-skilline {
    width: 95%;
  }
  .footer-skilline-heading {
    font-size: 20px;
  }
  .footer-skilline-subscribe {
    font-size: 16px;
  }
  .footer-skilline-items-link {
    font-size: 12px;
  }
  .footer-skilline-design {
    font-size: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
