/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #fcfcff;
  z-index: 100;
  transition: all 0.5s ease;
}
.logo-image img{
    width: 50%;
    height: 3rem;
    display: flex;
    margin: 1rem;
}
.sidebar .logo-image img{
  opacity: 0;
  pointer-events: auto;
}
.sidebar.close .logo-image img{
  opacity: 1;
  pointer-events: none;
}
.sidebar #btn{
    position: absolute;
    left: 30%;
    top: 1.7rem;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}
.sidebar.close #btn{
  left: 80%;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #ecebf0;
}
.sidebar .nav-links li .icon-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 60px;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(90deg);
}

.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .links_name{
  font-size: 14px;
  font-weight: 300;
  color: rgb(68, 66, 66);
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 58px;
  margin-top: -10px;
  background: #ecebf0;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: rgb(68, 66, 66);
  font-size: 14px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 14px;
  opacity: 1;
  display: block;
}
.small-name{
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.sidebar .name{
    opacity: 0;
    pointer-events: auto;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 600;
    color: gray;
}
.sidebar.close .name{
    opacity: 1;
    pointer-events: none;
}
.sidebar .small-name p{
  left: 30%;
  top: 76%;
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  display: block;
  position: absolute;
  color: rgb(146, 141, 141);
}
.sidebar.close .small-name p{
  left: 80%;
  display: none;
}
#icons{
  color: #7f7e81;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}
.fa-store{
    color: rgb(86, 45, 153);
}
.fa-clone{
    color: tomato;
}
.fa-bring-forward{
    color: rgb(230, 132, 217);
}
.fa-align-left{
    color: rgb(2, 2, 2);
}
.fa-map{
    color: rgb(97, 9, 240);
}
.bx-archive{
    color: rgb(12, 177, 53);
}
#Charts{
    color: rgb(15, 163, 221);
}
.fa-calendar-alt{
    color: rgb(243, 41, 6);
}
#bxs-server{
    color: rgb(15, 163, 221);
}
/*===== main-content =====*/
.main-content{
  position: absolute;
  height: 100%;
  width: calc(100% - 260px);
  left: 260px;
}
/*===== header =====*/
header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid gainsboro;
  background: rgb(96, 87, 223);
}
header .fa-search-plus{
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  width: 20px;
  height: 50px;
  line-height: 50px;
  margin-right: 500px;
  display: none;
}
.search-wrapper{
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background: white;
}
.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1rem;
}
.search-wrapper span i{
  color: rgb(145, 139, 139);
}
.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}
.search-wrapper span input{
  color: rgb(255, 253, 253);
}
.user-wrapper i{
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  line-height: 30px;
  margin-right: 2rem;
  color: rgb(255, 253, 253);
}
.user-wrapper #btn{
  display: none;
}
.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img{
  border-radius: 50%;
  margin-right: 1rem;
}
.user-wrapper h4{
  display:inline-block;
  color: rgb(255, 253, 253);
  margin-right: 1.5rem;
}
/*===== main =====*/
/*============================================================= Mobile: width < 740px */
@media (max-width:121.6rem){
  .sidebar{
    width: 60px;
  }
  .sidebar.close{
    width: 260px;
  }
  .main-content{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.close ~ .main-content{
    width: calc(100% - 260px);
    left: 260px;
  }
}
@media only screen and (max-width:1200px){
  .user-wrapper h4{
    display: none;
  }
  .user-wrapper #btn{
    display: block;
  }
  .DEFAULT .cards{
    display: block;
    justify-content: space-between;
  }
  .DEFAULT .cards .card-single{
    width: 100%;
    margin: 1rem 0;
  }
  .Team-list-track{
    display: block;
    flex-direction: column-reverse;
  }
  .Team-list-track .status{
    width:96%;
    margin-top: 2rem;
  }
  .table{
    display: block;
    flex-direction: column-reverse;
  }
  .table .recent-grid{
    width: 100%;
    margin-top: 1rem;
  }
  .table .customers{
    width: 100%;
    margin-top: 1rem;
  }
  .table-reponsive{
    display: block;
    flex-direction: column-reverse;
  }
  .table-reponsive .table-right{
    width: 100%;
    margin-top: 2rem;
  }
  .table-reponsive .table-left{
    width: 100%;
  }
  .table-reponsive .table-left .Tables{
    width: 100%;
  }
  .footer{
    display: block;
    flex-direction: column-reverse;
  }
  .footer .footer-l{
    width: 99%;
    text-align: center;
  }
  .footer .footer-menu {
    width: 99%;
    text-align: center;
  }
  main .canvas{
    display: block;
  }
  main .canvas .canvas-chart1{
    width: 91%;
  }
  main .canvas .canvas-chart2{
    width: 91%;

    margin-left: 2rem;
  }
}
@media only screen and (max-width:768px){
  .user-wrapper h4{
    display: none;
  }
  header{
    display:flow-root;
  }
  .Interactive .small-image,p{
    display: none;
  }
  main .canvas .canvas-chart1{
    width: 91%;
  }
  main .canvas .canvas-chart2{
    width: 91%;
    margin-top: 30px;
    margin-bottom: -90px;
  }
  .Team-list-track .status{
    width:96%;
  }
  .search-wrapper{
    display: none;
  }
  header .fa-search-plus{
    display: block;
  }
  .details h4{
    display: none;
  }
  .customers .card-deck{
    display: block;

  }
  .customers .card-deck .gradient-default{
    width: 100%;
    margin: 1rem auto;
  }
  .customers .card-deck .gradient-danger{
    width: 100%;
  }
  
}
@media only screen and (min-width:414px) and (max-width:767px){
  main .canvas .canvas-chart1{
    width: 83%;
  }
  main .canvas .canvas-chart2{
    width: 83%;
    margin-top: 30px;
    margin-bottom: -90px;
  }
  .Team-list-track .status{
    width:88%;
  }
  .slibar{
    display: none;
  }
}

main{
  min-height: calc(100vh - 90px);
  background: rgb(247, 246, 246);
}
.canvas{
  width: 100%;
  position: relative;
  top: -6rem;
  left: 0;
  display: flex;
}
.canvas-chart1{
  width: 58%;
  height: 498px;
  margin-left: 2rem;
  margin-right: 1.5rem;  
  border-radius: 5px;
  background: rgb(27, 27, 85);
  padding: 2rem;
}
.canvas-chart2{
  width: 35.5%;
  height: 498px; 
  border-radius: 5px;
  background: white;
  padding: 2rem;
}
.canvas-chart1-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(6, 18, 85);
}
.canvas-chart2-header{
  border-bottom: 1px solid rgb(186, 187, 196);
}
.month-btn{
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  background: rgb(28, 114, 226);
  border-radius: 5px;
  color: #fcfcff;
  font-size: 0.9rem;
  margin-right: 0.5rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.month-btn:hover{
  box-shadow: 0px 5px 5px rgb(173, 167, 167);
  color: #6363fc;
  background: white;
}
.week-btn
{
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  color: #6363fc;
  font-size: 0.9rem;
}
.week-btn:hover{
  box-shadow: 0px 5px 5px rgb(173, 167, 167);
  color: white;
  background: rgb(28, 114, 226);
}
.DEFAULT{
  background: rgb(96, 87, 223);
  padding: 1rem 1.5rem 7rem  1.5rem;
}
main .Default{
  display: flex;
  justify-content: space-between;
}
main .Default .details{
  display: flex;
  align-items: center;
}
main .Default .details h2{
  color: white;
  margin-right: 2rem;
}
main .Default .details i,h4{
  color: white;
}
main .Default .details span{
  font-size: 0.8rem;
}
/*========= btn hover ===========*/
.btn{
  text-decoration: none;
  background-color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  color: cornflowerblue;
  margin: 0 0.3rem;
}
.btn:hover{
  box-shadow: 0px 5px 5px rgb(173, 167, 167);
  transform: translateY(-3px);
  color: cornflowerblue;
}
.btn:active{
  transform: translateY(0);
}
.cards{
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 98%;

}
.card-single{
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 24%;
  height: auto;
}
.card-single h5{
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.card-single h6{
  color: gray;
}
.card-single .fa-arrow-up{
  color: rgb(67, 190, 149);
}
.card-single .la-users i{
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  line-height: 50px;
  border: 1px solid;
  text-align: center;
  border-radius: 50%;
  color: white;
}
.card-single .la-users .fa-hand-pointer{
  background: linear-gradient(to right, red, orange);
}
.card-single .la-users .bxs-pie-chart-alt-2{
  background: linear-gradient(to right, rgb(253, 93, 0), yellow);
}
.card-single .la-users .fa-coins{
  background: linear-gradient(to right, rgb(0, 255, 136), rgb(0, 162, 255));
}
.card-single .la-users .bxs-bar-chart-alt-2{
  background: linear-gradient(to right, rgb(28, 191, 255), rgb(43, 96, 240));
}
/*===== Team-list-track =====*/
.Team-list-track{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  margin-top: -3rem;
}
.table-body td{
  padding-left: 1rem;
}
.headers .headers-td{
  padding-left: 1rem;
}
.status{
  width: 32%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0 1rem;
}
.team-header{
  padding: 2rem 0;
  border-bottom: 1px solid rgb(204, 201, 201);
}
.add1 img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Add{
  text-decoration: none;
  background-color: rgb(19, 136, 231);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
  width: 50px;
  margin-top: -1rem;
}
.name{
  font-size: 1.3rem;
  margin-left: -5px;
}
.Team-list-track .Team-adds{
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;
  border-bottom: 1px solid rgb(204, 201, 201);
  height: 80px;
}
.Team-list-track .Team-adds .add1{
  display: flex;
  align-items: center;
}
.Team-adds .add1 h2{
  margin-right: 1rem;
}
.Team-adds .checkbox input{
  width: 15px;
  height: 30px;
  line-height: 15px;
  margin-top: -2rem;
}

.green{
  color: rgb(19, 209, 19);
}
.orange{
  color: orange;
}
.blue{
  color: rgb(0, 162, 255);
}
.red{
  color: rgb(255, 0, 34);
}
.skill1 {
  width: 100%;
  background-color: #ddd;
  height: 3px;
}
.skill11{
  width: 100%;
  margin-top: -1rem;
}
.cart-p td{
  padding:0.7rem 0;
  border-bottom: 1px solid rgb(196, 194, 194);
}
.skills {
  padding-top: 3px;
  color: white;
  display: flex;
}
.orange-skill {
  width: 60%;
  height: 1px;
  background-color:chocolate;
}
.green-skill {
  width: 100%;
  height: 1px;
  background-color:rgb(7, 233, 45);
}
.red-skill {
  width: 75%;
  height: 1px;
  background-color:rgb(240, 52, 5);
}
.blue-skill {
  width: 90%;
  height: 1px;
  background-color:rgb(9, 180, 247);
}
.Team-addss{
  padding: 5%;
  border-bottom: 1px solid rgb(204, 201, 201);
  height: 80px;
}
.Team-list-track .Team-addss .add2{
  display: flex;

  width: 100%;
}
.add2 p{
  margin-top: -20px;
}
.Team-list-track .Team-adds .add1 img{
  margin-left: -10px;
  margin-right: 1rem;
}
/*===== Recent-grid =====*/
.recent-grid{
  width: 40%;
  height: 100%;
  background: white;
  border-radius: 5px;
  padding: 0 2rem;
}
.body-team{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(204, 201, 201);
}
.body-team .btns{
  margin: auto 0;
}
.body-team-name{
  margin-left: 1rem;
  margin-top: 1.2rem;
}
.body-team-name span{
  font-weight: 600;
}
.text{
  width: 100%;
  margin-top: 1rem;
}
.text img{
  border-radius: 15px;
}
.text .fa-thumbs-up{
  color: rgb(27, 69, 206);
}
.comment1 .team-5{
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
  margin-top: 10px;
}
.comment2 .team-1{
  border-radius: 50%;
  position: absolute;
  margin-top: -10px;
  margin-left: -18px;
}
.comment2{
  margin-bottom: 1rem;
}
.comment1 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.Comments{
  position: relative;
  top: 0;
  left: 0;
  margin-top: 10px;
  border-bottom: 1px solid rgb(240, 234, 234);
}
.comment{
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  background: rgb(223, 226, 225);
}
.Interactive{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(204, 201, 201);
}
.small-image{
  margin-left: 120px;
  position: relative;
  top: 0;
  left: 0;
}
.small-image1{
  position: relative;
  top: -3px;
  left: 0;
}
.small-image2{
  position: absolute;
  left: 10px;
}
.small-image3{
  position: absolute;
  left: 4;
}
.Interactive p{
  font-size: 0.8rem;
}
.body-team-image img{
  border-radius: 5px;
  margin: auto 0;
}
/*===== Customers =====*/
.projects .card::-webkit-scrollbar{
  display: none;
}
.projects{
  overflow-x:auto;
}
.card{
  width: 1200px;
}
.table{
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.fa-circle{
  font-size: 0.5rem;
}
.customers{
  width: 58%;
  height: 100%;
  border-radius: 5px;
}
.Project{
  background: white;
  border-radius: 5px;
}
.Completion{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 80px;
}
.headers td{
  color: rgb(172, 168, 168);
  font-size: 1rem;
}
.Completion .percent{
  display: flex;
  align-items: center;
}
.Completion .skill1{
  margin-top: 25px;
}
.Completion i{
  margin-right: 1rem;
  margin-top: 1.3rem;
}
.cart-body thead tr td img{
  border-radius: 50%;
}
.parent{
  position: relative;
  top: 0;
  left: 0;
  padding-right: 50px; 
}
.percent span{
  margin-right: 0.5rem;
}
.Completion i{
  margin-left: 3rem;
}
.images1{
  position: relative;
  top: 0;
  left: 0;
}
.images2{
  position: absolute;
  left: 20px;
}
.images3{
  position: absolute;
  left: 40px;
}
.images4{
  position: absolute;
  left: 60px;
}
.light-table{
  border-bottom: 1px solid rgb(194, 193, 193);
  padding: 1.5rem 0;
  padding-left: 3rem;
}
.headers{
  padding: 5rem 0;
  background: rgb(238, 236, 236);
}
.headers td{
  padding: 1rem 0;
}
.color-red{
  color: rgb(240, 52, 5);
}
.color-blue{
  color: rgb(9, 180, 247);
}
.color-orange{
  color: chocolate;
}
.color-green{
  color: rgb(7, 233, 45);
}
.COMMENT{
  height: 70px;
  display: flex;
  margin: 1rem 0;
}
.COMMENT textarea{
  margin-left: 2rem;
}
/*===== card-deck =====*/
.card-deck{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-deck .gradient-default{
  width: 48%;
  margin: 0.5rem auto;
  border-radius: 5px;
  background: rgb(28, 13, 83);
  color: white;
  margin-right: 0.7rem;
}
.card-deck .gradient-danger{
  width: 48%;
  margin: 0.5rem auto;
  border-radius: 5px;
}
.card-deck .gradient-default small span{
  color: rgb(17, 197, 143);
}
.card-deck .gradient-default small{
  margin-bottom: 2rem;
}
.btn-add-credit{
  padding: 1rem 0;
  width: 100%;
}
.Add-credit{
  width: 100%;
  background: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: 0.2rem 0;
}
.card-deck .gradient-danger{
  background: linear-gradient(to right, rgb(243, 6, 105), rgb(255, 123, 0));
  padding: 2rem 1rem;
}
.orders-seals{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.Orders{
    width: 90%;
    margin-top: 5px;
}
.Seals{
  width: 100%;
  margin-top: 5px;
}
.Order,.Seal{
  width: 90%;
  background-color: #ddd;
  height: 3px;
}
.oranges-skill {
  width: 40%;
  height: 1px;
  background-color:chocolate;
}
.greens-skill{
  width: 60%;
  height: 1px;
  background: rgb(19, 209, 19);
}
.gradient-danger-header{
  display: flex;
  justify-content: space-between;
}
.gradient-danger-header .active{
  background-color: rgb(153, 214, 191);
  text-decoration: none;
  border-radius: 5px;
  height: 30px;
  font-size: 0.7rem;
  width: 70px;
  line-height: 30px;
  text-align: center;
}
.gradient-danger-username{
  margin: 2rem 0;
}
.gradient-danger-username span{
  color: rgb(209, 191, 191);
  font-size: 0.8rem;
}
.gradient-danger-username h3{
  color: white;
}
.gradient-danger-name{
  margin-top: 3rem;
}
.gradient-danger-name span{
  color: rgb(209, 191, 191);
  font-size: 0.8rem;
}
.gradient-danger-name h5{
  color: white;
}
/*==== table-reponsive =====*/
.table-reponsive{
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.table-right{
  width: 65%;
  height: 30rem;
  margin-right: 1rem;
  background: white;
  border-radius: 5px;
}
.table-left{
  width: 33%;
  height: 30rem;
  background: white;
  border-radius: 5px;
  overflow-x: auto;
}
.table-left .Tables::-webkit-scrollbar{
  display: none;
}
.table-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 1rem;

}
.btn-see-all{
  background: rgb(98, 125, 243);
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.light-table{
  font-size: 1.5rem;
}
.Tables{
  width: 35rem;
}
.table-body{
  height: 60px;
  border-bottom: 1px solid rgb(201, 196, 196);
  color: #7f7e81;
}
.red-amount{
  width: 60%;
  height: 1px;
  background: linear-gradient(to right, rgb(243, 6, 105), rgb(255, 123, 0));
}
.orange-amount{
  width: 30%;
  height: 1px;
  background: linear-gradient(to right, rgb(255, 123, 0), rgb(240, 205, 7));
}
.blue-amount{
  width: 70%;
  height: 1px;
  background: linear-gradient(to right, rgb(7, 206, 241), rgb(7, 69, 240));
}
.violet-amount{
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, rgb(111, 10, 243), rgb(135, 7, 240));
}
.green-amount{
  width: 70%;
  height: 1px;
  background: linear-gradient(to right, rgb(5, 231, 107), rgb(7, 240, 162));
}
/*===== footer =====*/
.footer{
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.footer-menu span{
  padding: 0 0.5rem;
}
.footer-menu {
  width: 50%;
  text-align: right;
}
.footer-l{
  width: 50%;
}
